<div th:fragment="navigation" th:remove="tag">

<div id="header_bar" class="navbar" style="max-height:50px;width:100%;position: fixed;z-index:999;">
	<section class="navbar-section">
		<label class="navbar-brand m-2" style="min-width: 300px;" th:text="${user_name}"></label>
		<a href="#" class="btn btn-link m-2 text-secondary" style="min-width: 80px;" th:href="@{/home}">Home</a>
		<a  id="logout_link" href="javascript:void(0);" class="btn btn-link m-2 text-secondary" style="min-width: 80px;">Logout</a>
	</section>
	<!-- ハンバーガーメニュー -->
	<span class="hamberger"><hr><hr><hr></span>
	<div class="hamberger_menu" id="hamberger_menu_list">
	</div>
</div>
<div id="logout_confirmdialog">
	<label id="logout_confirmdialog_label" style="white-space: pre-line;">
		Sign out?
	</label>
	<span class="ui-helper-hidden-accessible"><input type="image"/></span>
</div>
<script>
$(function(){
	// ヘッダメニュー クリック
	$(".hamberger").click(function() {
        $(this).toggleClass("close");
        $('.hamberger_menu').toggleClass("show");
    });
	
	// ログアウトリンク クリック
    $("#logout_link").click(function() {
    	$("#logout_confirmdialog").dialog("open");
	    return false;
    });
 	// ログアウト ダイアログ
	$("#logout_confirmdialog").dialog({
	  autoOpen: false,
	  open : function(event, ui){
		  $(".ui-dialog-titlebar" ).css("display", "none" );
      },
	  modal: true,
		buttons:[
			{
				text: "Sign out",
				class:"btn custombtn",
				click: function() {
					location.href='/login';
					$(this).dialog("close");
				}
			},
			{
				text: "Cancel",
				class:"btn custombtn",
				click: function() {
					$(this).dialog("close");
				}
			}]
	});
}());
</script>

</div>