<div th:fragment="body">
<script th:inline="javascript">

// 受入情報
var select_ACCEPT_TABLE = 
{
    material_NO      :null,
    material_NAME    :null,
    category_NO      :null,
    manufacturer     :null,
    qty              :null,
    storage          :null,
    lot_NO           :null,
    exp_DATE         :null,
    user_LOT_NO      :null,
    storage_LOCATION :null,
    qa_APP_STATUS    :null,
    status           :null,
    batch_ID         :null
};
/***********************************
            画面初期処理
 ***********************************/
$(function(){

	// ヘッダスタイル変更
    change_header_style(1);
    
	// 初期表示は作業手順折り畳み
	$("#work_list").hide();
	
	/*
	 * キャンセルクリック
	 */
	$("#closebtn").click(function(){
		location.href="/home";
	});
	
	// 一覧取得
	search();
	
});

/*
 * 受入情報初期化
 */
function initAT(){
    select_ACCEPT_TABLE.material_NO      = null;
    select_ACCEPT_TABLE.material_NAME    = null;
    select_ACCEPT_TABLE.category_NO      = null;
    select_ACCEPT_TABLE.manufacturer     = null;
    select_ACCEPT_TABLE.qty              = null;
    select_ACCEPT_TABLE.storage          = null;
    select_ACCEPT_TABLE.lot_NO           = null;
    select_ACCEPT_TABLE.exp_DATE         = null;
    select_ACCEPT_TABLE.user_LOT_NO      = null;
    select_ACCEPT_TABLE.storage_LOCATION = null;
    select_ACCEPT_TABLE.qa_APP_STATUS    = null;
    select_ACCEPT_TABLE.status           = null;
    select_ACCEPT_TABLE.batch_ID         = null;
}

/***********************************
作業手順のヘッダクリック
***********************************/
function header_click(disp_flg){
	
	if ($("#header_check"+disp_flg).prop("checked") == true) {
		$("#header_check"+disp_flg).prop("checked", false);
		$("#proc_table"+disp_flg).hide();
		$("#allow"+disp_flg).text("▼");
   } else {
   	$("#header_check"+disp_flg).prop("checked", true);
   	$("#proc_table"+disp_flg).show();
   	$("#allow"+disp_flg).text("▲");
   }
}

/***********************************
作業グループの枠操作
***********************************/
function open_work(no, open){
	/*
	if(open){
		// 作業グループの枠を開ける
		$("#header_check"+no).prop("checked", false);header_click(no);
	}else{
		// 作業グループの枠を閉じる
		$("#header_check"+no).prop("checked", true);header_click(no);		
	}
	*/
	if(open){
		// 仕掛位置まで移動
		$("html,body").animate({scrollTop:$("#tr_header"+no).offset().top});
	}
}
 /***********************************
 受入一覧表示
 ***********************************/
 function search(){
	
	// tbodyをクリア
	$("#tbl1 > tbody").html("");
	
	// テーブル初期状態セット
	tbody_default("#tbl1");
	
	// ajaxで受入一覧のJson取得
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/accept/select',
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    const status_json = JSON.parse($("#status_list").val());
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,ACCEPT_TABLE){
			
	    	var tbody = $('<tbody />');
	    	
	        var tr1 = $('<tr onclick="select_row(this);"/>');
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.material_NO));
	        tr1.append($('<td colspan="2"/>').text(ACCEPT_TABLE.material_NAME));
	        
	        tr1.append($('<td />').text(ACCEPT_TABLE.lot_NO));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.qty));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.user_LOT_NO));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.storage));
	        tr1.append($('<td rowspan="2"/>').text(status_json[ACCEPT_TABLE.status]));
	        tbody.append(tr1);
	        
	        var tr2 = $('<tr onclick="select_row(this);"/>');
	        tr2.append($('<td />').text(ACCEPT_TABLE.category_NO));
	        tr2.append($('<td />').text(ACCEPT_TABLE.manufacturer));
	        tr2.append($('<td />').text(ACCEPT_TABLE.exp_DATE));
	        tbody.append(tr2);
	        
	        $('#tbl1').append(tbody);
	        
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  // エラーメッセージの表示
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
}

 /***********************************
 受入一覧の行クリック
 ***********************************/
 function select_row(obj){

	// テーブル初期状態セット
	tbody_default("#tbl1");
	
	var tb = $(obj).parent();
	
	// テーブル行選択状態セット
	row_click($(tb));
	
	// 選択行のMATERIAL_NO取得
	var childtr = $(tb).children();
	var childtd = $(childtr).children();
	var material_no = $(childtd.eq(0)).text();

	// データ保持
	$("#material_no").val(material_no);
	
	// 作業手順グループ再表示
	refrech_work(material_no);

	// 作業手順表示
	$("#work_list").show();
	
}
 
 /***********************************
 作業手順グループ再表示
 ***********************************/
 function refrech_work(material_no){
	const work_group_json = JSON.parse($("#WORK_GROUP_JSON").val());
	Object.keys(work_group_json).forEach(function (key) {
		WORK_GROUP = work_group_json[key];
		open_work(WORK_GROUP.work_GROUP, false);	// 作業手順非表示
		var setwork = 'setwork'+WORK_GROUP.work_GROUP;
		// 各作業グループのセットボタン押下
		$('#setbtn'+WORK_GROUP.work_GROUP).trigger('click', [material_no]);
	});
 }

 /***********************************
 受入一覧の行データ更新
 ***********************************/
 function updaterow(){
	
	// ajaxで受入一覧のJson取得
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/accept/select?MATERIAL_NO='+$("#material_no").val(),
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    const status_json = JSON.parse($("#status_list").val());
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,ACCEPT_TABLE){
			
	        var tr1 = $('<tr onclick="select_row(this);"/>');
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.material_NO));
	        tr1.append($('<td colspan="2"/>').text(ACCEPT_TABLE.material_NAME));
	        
	        tr1.append($('<td />').text(ACCEPT_TABLE.lot_NO));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.qty));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.user_LOT_NO));
	        tr1.append($('<td rowspan="2"/>').text(ACCEPT_TABLE.storage));
	        tr1.append($('<td rowspan="2"/>').text(status_json[ACCEPT_TABLE.status]));
	        
	        var tr2 = $('<tr onclick="select_row(this);"/>');
	        tr2.append($('<td />').text(ACCEPT_TABLE.category_NO));
	        tr2.append($('<td />').text(ACCEPT_TABLE.manufacturer));
	        tr2.append($('<td />').text(ACCEPT_TABLE.exp_DATE));
	        
	        var tbodys = $("#tbl1 tbody");//全行を取得
			
			for( var i=0,l=tbodys.length;i<l;i++ ){
				// 選択行のMATERIAL_NO取得
				var childtr = tbodys.eq(i).children();
				var childtd = $(childtr).children();
				var material_no = $(childtd.eq(0)).text();
				if(material_no == $("#material_no").val()){
					$(childtr).remove();
					tbodys.eq(i).append(tr1);
					tbodys.eq(i).append(tr2);
				}
			}
	        
			// 作業手順グループ再表示
			refrech_work($("#material_no").val());
	        
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  // エラーメッセージの表示
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
}
 
/***********************************
ファイルアプロード
***********************************/
 function fileupload(
 	WORK_GROUP,WORK_ID,CHECK_FILE_NAME,CHECK_FILE_BASE64
 	){
	
	// 作業実績登録			
    initnewWRT();
    new_WORK_RESULT_TABLE.process_ID        = $("#PROCESS_ID").val();
    new_WORK_RESULT_TABLE.work_GROUP        = WORK_GROUP;
    new_WORK_RESULT_TABLE.work_ID           = WORK_ID;
    new_WORK_RESULT_TABLE.id                = $("#material_no").val();
    new_WORK_RESULT_TABLE.check_RESULT      = null;　//　新規登録 or 更新しないのでNULL
    new_WORK_RESULT_TABLE.check_REASON      = null;　//　新規登録 or 更新しないのでNULL
    new_WORK_RESULT_TABLE.check_COA         = null;　//　新規登録 or 更新しないのでNULL
    new_WORK_RESULT_TABLE.check_COA_REASON  = null;　//　新規登録 or 更新しないのでNULL
    new_WORK_RESULT_TABLE.check_FILE_NAME   = CHECK_FILE_NAME;
    new_WORK_RESULT_TABLE.check_FILE_BASE64 = CHECK_FILE_BASE64;
   
	//データを送信
	var XHR = new XMLHttpRequest();
	XHR.open( "POST", "/ajax/workresult_regist" );
	XHR.setRequestHeader('Content-Type', 'application/json');
	XHR.send(JSON.stringify(new_WORK_RESULT_TABLE));
	XHR.onreadystatechange = function() {
	  if( XHR.readyState === 4 && XHR.status === 200 ) {
		// 正常終了時に処理
	  }else{
		if(XHR.responseText==''){
		}else{
			error(XHR.responseText); //エラーダイアログ表示
		}
	  }
	}
	
 }
 
 /***********************************
 受入情報更新＋作業実績登録
 ***********************************/
  function update_ac_wr(
  	WORK_GROUP,WORK_ID,
  	LOT_NO,EXP_DATE,STORAGE,QA_APP_STATUS,
  	CHECK_RESULT,CHECK_REASON,CHECK_COA,CHECK_COA_REASON
  	){
	 
	initAT();
	select_ACCEPT_TABLE.lot_NO　= LOT_NO;
	select_ACCEPT_TABLE.exp_DATE　= EXP_DATE;
	select_ACCEPT_TABLE.storage　= STORAGE;
	select_ACCEPT_TABLE.qa_APP_STATUS = QA_APP_STATUS;
	select_ACCEPT_TABLE.material_NO = $("#material_no").val();
	 
	//データを送信
 	var XHR = new XMLHttpRequest();
 	XHR.open( "POST", "/rest/accept/update" );
 	XHR.setRequestHeader('Content-Type', 'application/json');
 	XHR.send(JSON.stringify(select_ACCEPT_TABLE));
 	XHR.onreadystatechange = function() {
 	  if( XHR.readyState === 4 && XHR.status === 200 ) {
 		// 正常終了時に処理
 	    endwork(
 	    	$("#PROCESS_ID").val(),$("#material_no").val(),WORK_GROUP,WORK_ID,
		 	CHECK_RESULT,CHECK_REASON,CHECK_COA,CHECK_COA_REASON
		 	);
 	  }else{
		if(XHR.responseText==''){
		}else{
			error(XHR.responseText); //エラーダイアログ表示
		}
 	  }
 	}
	
  }

  /***********************************
  確認ダイアログ表示
  ***********************************/
  function confirm_accept(wgp, wid){
 	$('#confirmdialog').dialog({
 		dialogClass:'confirm_dialog',
 		modal:true, //モーダル表示
 		title:"Confirm", //タイトル
 		buttons: { //ボタン
 		"OK": function() {
 			$(this).dialog("close");
 			endwork($("#PROCESS_ID").val(),$("#material_no").val(),wgp, wid);
 			},
		"Cancel": function() {
 			$(this).dialog("close");
 			}
 		}
 	});
  }
  
 function test(){
	 
     //PDF作成処理
     var docDef = {
       content:[
         {qr: 'これはテストです'}
       ],
     };
     pdfMake.createPdf(docDef).download("QR_CODE_TEST.pdf");
     
     
     // ヘッダメニュー変更
     $('#hamberger_menu_list').children().remove();
     $('#hamberger_menu_list').append('<li><a href="#">TEST1</a></li>');
     $('#hamberger_menu_list').append('<li><a href="#">TEST2</a></li>');
     $('#hamberger_menu_list').append('<li><a href="#">あああああああああ</a></li>');
 }
</script>
<!-- コンテンツ -->
<form action="#" method="post">
<input type="hidden" id="material_no">
<input type="hidden" id="PROCESS_ID" th:value="${PROCESS_ID}">
<input type="hidden" id="WORK_GROUP_JSON" th:value="${WORK_GROUP_JSON}">
<input type="hidden" id="status_list" th:value="${STATUS_LIST}">
<div class="container text-center">
  <div class="columns">
  
  	<div class="column col-12 m2"><h4>Accept</h4></div>

    <div style="margin:auto;">
    <table style="width:100%;">
    	<tr><td>
	    <!-- 受入一覧 -->
		<table id="tbl1" class="tableArea">
			<thead>
				<tr>
					<th class="th_sticky" rowspan="2" style="width:100px">Material #</th>
					<th class="th_sticky" colspan="2" style="width:300px">Material Name</th>
					<th class="th_sticky" style="width:100px">Lot #</th>
					<th class="th_sticky" rowspan="2" style="width:50px">Qty</th>
					<th class="th_sticky" rowspan="2" style="width:150px">User lot #</th>
					<th class="th_sticky" rowspan="2" style="width:150px">Storage</th>
					<th class="th_sticky" rowspan="2" style="width:80px">Status</th>
				</tr>
				<tr>
					<th class="th_sticky2">Cat. #</th>
					<th class="th_sticky2">Manufacturer</th>
					<th class="th_sticky2">Exp. Date</th>
				</tr>
	        </thead>
		</table>
	    <td></tr>
	    <tr><td id="work_list">
    		<div th:each="map : ${WORK_GROUP_MAP}">
    			<div th:insert="/workgroup/work__${map.getValue().DISPLAY_TYPE}__::paramset('__${map.getValue().WORK_GROUP}__')"></div>
			</div>
	    <td></tr>
	    <tr style="text-align: right;"><td>
		    <input type="button" id="closebtn" value="Close" class="btn custombtn">
		    <input type="button" id="okbtn" value="OK" class="btn custombtn" onclick="test()">
	    <td></tr>
    </table>

    </div>
    
  </div>
</div>
 
</form>

</div>	