<div th:fragment="paramset(wgrp)" th:remove="tag">
<script th:inline="javascript">
$(function() {
	
	var wgrp = /*[[${wgrp}]]*/ '';
	var batch_id = $('#BATCH_ID').val();
	var process_id = $('#PROCESS_ID').val();
	
	// 作業グループ名セット
	getWorkGroupName(wgrp, wgrp, "work_group_name");
	
	// 要素名
	var setbtn = '#setbtn'+wgrp;
	var eximg = '#eximg'+wgrp;
	var td = '#td'+wgrp;
	var okbtn = '#okbtn'+wgrp;
	var kitlabel = '#kitlabel'+wgrp;
	var kitlabelprintbtn = '#kitlabelprintbtn'+wgrp;
	var startbtn = '#startbtn'+wgrp;
	var expdlabel = '#expdlabel'+wgrp;
	var expdlabelprintbtn = '#expdlabelprintbtn'+wgrp;
	var mtbl = '#mtbl'+wgrp;
	var tdcheck = 'tdcheck'+wgrp;
	var tdperformed_Time = 'tdperformed_Time'+wgrp;
	var material_group_id_read = '#material_group_id_read'+wgrp;
	
 	// 初期表示処理
	$(setbtn).click(function() {
		
		// 作業手順取得
		var args = "?WORK_GROUP="+wgrp;
		$.ajax({
		    type: "GET", 
		    url: '/rest/workmst/select'+args,
		}).done(function(data, dataType) {
		    var usage_arr = JSON.parse(data);
		    $.each(usage_arr.list,function(i,WORK_MASTER){
		    	
	 		    $(td+WORK_MASTER.work_ID).text(WORK_MASTER.work);
	 		    
	 			// ステータスチェック
	 			var args = 
	 				"?WORK_GROUP="+wgrp+
	 				"&WORK_ID="+WORK_MASTER.work_ID+
	 				"&ID="+batch_id;
	 			$.ajax({
	 			type: "GET", 
	 			url: '/ajax/check_status'+args,
	 			}).done(function(data, dataType) {
	 				if(data==false){
	 					setDisabled(okbtn+WORK_MASTER.work_ID,true);
	 					if(WORK_MASTER.work_ID=='002'){
							setDisabled(startbtn,true);
	 					}
	 				}else{
	 					open_work(wgrp, true);	// 作業手順表示
	 					setDisabled(okbtn+WORK_MASTER.work_ID,false);
						if(WORK_MASTER.work_ID=='002'){
							setDisabled(startbtn,false);
	 					}
	 				}
	 			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	 				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	 			});
	 			
		    });
		    
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
		// 逸脱アイコン非表示
		$(eximg).hide();
	 	
		// 逸脱チェック
		var args = 
			"?BATCH_ID="+batch_id+
			"&PROCESS_ID="+process_id+
			"&WORK_GROUP="+wgrp;
		$.ajax({
		type: "GET", 
		url: '/rest/workgroupstatus/select'+args,
		}).done(function(data, dataType) {
			var usage_arr = JSON.parse(data);
		    if(usage_arr.list.length>0){
		    	WORK_GROUP_STATUS_TABLE = usage_arr.list[0];
	 		    if(WORK_GROUP_STATUS_TABLE.status==wgrp_diviation_status){
	 		    	$(eximg).show();
	 		    }else{
	 		    	$(eximg).hide();
	 		    }
	 	    }
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
		// 作業実績取得
	 	var args = 
			"?WORK_GROUP="+wgrp+
			"&ID="+batch_id;
		$.ajax({
		type: "GET", 
		url: '/rest/workresult/select'+args,
		}).done(function(data, dataType) {
			
			var usage_arr = JSON.parse(data);
		    $.each(usage_arr.list,function(i,WORK_RESULT_TABLE){
		    	if(WORK_RESULT_TABLE.work_ID=='001'){
		    		$(kitlabel).val(WORK_RESULT_TABLE.label);
		    	}
		    	if(WORK_RESULT_TABLE.work_ID=='003'){
		    		$(expdlabel).val(WORK_RESULT_TABLE.label);
		    	}
			});
	 	    
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
		// マテリアル一覧取得
		var tbodys = $(mtbl+" tbody");//全行を取得
		
		if(tbodys.length>0){
			
			// マテリアル一覧表示済みの場合
			// マテリアルの作業実績取得
			var args = 
				"?BATCH_ID="+batch_id+
				"&WORK_GROUP="+wgrp+
				"&WORK_ID=002";
			
			$.ajax({
			type: "GET", 
			url: '/rest/materialcheck/select'+args,
			}).done(function(materialcheck, dataType) {
				var materialcheck_arr = JSON.parse(materialcheck);
				$.each(materialcheck_arr.list,function(i,MATERIAL_CHECK_TABLE){
					if(MATERIAL_CHECK_TABLE.check_DATE=='' ||
							MATERIAL_CHECK_TABLE.check_DATE == null){
						// 作業実施日が空白の場合
			 	    	// 処理なし
					}else{
						//　作業実施日がある場合
						for( var i=0,l=tbodys.length;i<l;i++ ){
							// 選択行のMATERIAL_NO取得
							var childtr = tbodys.eq(i).children();
							var childtd = $(childtr).children();
							var material_no = $(childtd.eq(0)).text();
							if(material_no==MATERIAL_CHECK_TABLE.material_NO){
								// 該当マテリアルのperformed_Time,Checkをセット
								$('#'+tdperformed_Time+material_no).text(MATERIAL_CHECK_TABLE.check_DATE);
								$('#'+tdcheck+material_no).prop('checked', true);
							}
						}	
					}
				});
				
				// チェックボックス無効
				for( var i=0,l=tbodys.length;i<l;i++ ){
					// 選択行のMATERIAL_NO取得
					var childtr = tbodys.eq(i).children();
					var childtd = $(childtr).children();
					var material_no = $(childtd.eq(0)).text();
					$('#'+tdcheck+material_no).prop('disabled', true);
				}

			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
			});
			
		}else{
			var args = 
				"?BATCH_ID="+batch_id+
				"&PROCESS_ID="+process_id+
				"&WORK_GROUP="+wgrp;
			// マテリアル一覧初期表示の場合
			$.ajax({
				type: "GET", 
				url: '/ajax/get_material_list'+args,
				}).done(function(data, dataType) {
					var usage_arr = JSON.parse(data);
					$.each(usage_arr,function(i,json){
						
						var tbody = $('<tbody />');
						var tr1 = $('<tr/>');
						tr1.append($('<td/>').text(json.material_NO));
						tr1.append($('<td/>').text(json.material_NAME));
						tr1.append($('<td/>').text(json.required_AMOUNT));
						tr1.append($('<td/>').text(json.prepared_AMOUNT));
						tr1.append($('<td/>').text(json.user_LOT_NO));
						tr1.append($('<td/>').text(json.exp_DATE));
						
						var performed_Time = $('<td id="'+tdperformed_Time+json.material_NO+'"/>');
						var mcheck = $('<td/>');
						
						// マテリアルの作業実績取得
						args = 
							"?MATERIAL_NO="+json.material_NO+
							"&BATCH_ID="+batch_id+
							"&WORK_GROUP="+wgrp+
							"&WORK_ID=002";
						$.ajax({
						type: "GET", 
						url: '/rest/materialcheck/select'+args,
						}).done(function(materialcheck, dataType) {
							var materialcheck_arr = JSON.parse(materialcheck);
							if(materialcheck_arr.list.length>0){
								MATERIAL_CHECK_TABLE = materialcheck_arr.list[0];
								if(MATERIAL_CHECK_TABLE.check_DATE=='' ||
										MATERIAL_CHECK_TABLE.check_DATE == null){
									// 作業実施日が空白の場合
									performed_Time.text("");
						 	    	mcheck.append($("<input>", {
							        	  type: "checkbox",
							        	  id: tdcheck+json.material_NO,
							        	  checked: false,
							        	  disabled: true,
							        	}));
								}else{
									//　作業実施日がある場合
									performed_Time.text(MATERIAL_CHECK_TABLE.check_DATE);
									mcheck.append($("<input>", {
							        	  type: "checkbox",
							        	  id: tdcheck+json.material_NO,
							        	  checked: true,
							        	  disabled: true,
							        	}));
								}
					 	    }else{
					 	    	// 作業実績がない場合
					 	    	performed_Time.text("");
					 	    	mcheck.append($("<input>", {
						        	  type: "checkbox",
						        	  id: tdcheck+json.material_NO,
						        	  checked: false,
						        	  disabled: true,
						        	}));
					 	    }
							tr1.append(performed_Time);
							tr1.append(mcheck);
							
							tbody.append(tr1);
							$(mtbl).append(tbody);
							
						}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
							console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
						});
				    	
					});
				}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
					console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
				});
		}
		
	});
	
	
	// OKボタンクリック時の処理
	$(okbtn+'001').click(function() {	// 手順1　OKボタン
		// キットラベル出力チェック
		if($(kitlabel).val()==''){
			alertdialog('Please output Kit label.');
			return;
		}
		confirm_manufacturing(wgrp,'001',$(kitlabel).val(),null);
	});
	$(okbtn+'002').click(function() {	// 手順2　OKボタン
		
		const material_check_list = [];
        var tbodys = $(mtbl+" tbody");//全行を取得
		for( var i=0,l=tbodys.length;i<l;i++ ){
			// 選択行のMATERIAL_NO取得
			var childtr = tbodys.eq(i).children();
			var childtd = $(childtr).children();
			var material_no = $(childtd.eq(0)).text();
			if($('#'+tdcheck+material_no).prop('checked') == true){
				// マテリアルチェックデータ生成
				var new_MATERIAL_CHECK_TABLE = 
				{
				    material_NO       :material_no,
				    batch_ID          :batch_id,
				    process_ID        :process_id,
				    work_GROUP        :wgrp,
				    work_ID           :'002',
				    check_USERID      :null,
				    check_USERNAME    :null,
				    check_DATE        :null
				};
				material_check_list.push(new_MATERIAL_CHECK_TABLE);
			}
		}
        
		confirm_manufacturing(wgrp,'002',null,null,material_check_list);
	});
	$(okbtn+'003').click(function() {	// 手順3　OKボタン
		// 有効期限ラベル出力チェック
		if($(expdlabel).val()==''){
			alertdialog('Please output Exp.date label.');
			return;
		}
		confirm_manufacturing(wgrp,'003',$(expdlabel).val(),null);
	});
	
	// キットラベルPrintボタンクリック時の処理
	$(kitlabelprintbtn).click(function() {
		if($(kitlabel).val()==''){
			$.ajax({
				type: "GET", 
				url: '/ajax/make_kit_label',
				}).done(function(data, dataType) {
			    	$(kitlabel).val(data);
			    	//PDF作成処理
			        var docDef = {
			          content:[
			            {qr: data}
			          ],
			        };
			        pdfMake.createPdf(docDef).open();
				}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
					console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
				});
		}else{
			//PDF作成処理
	        var docDef = {
	          content:[
	            {qr: $(kitlabel).val()}
	          ],
	        };
	        //pdfMake.createPdf(docDef).download("Kitlabel.pdf");
	        pdfMake.createPdf(docDef).open();
		}
	});
	
	// Startbtnボタンクリック時の処理
	$(startbtn).click(function() {
		if($(startbtn).val()=='Start'){
			$(material_group_id_read).val('');
			$(material_group_id_read).focus();
			$(startbtn).val('Stop');
		}else{
			$(startbtn).val('Start');
			$(material_group_id_read).val('');
			$(startbtn).focus();
		}
	});
	
	// Startボタン押下後にフォーカスが外れたらフォーカスしなおす
	$(material_group_id_read).blur(function (e) {
	    if($(startbtn).val()=='Stop'){
	    	$(material_group_id_read).val('');
			$(material_group_id_read).focus();
		}
	});
	// バーコード読み取り時の処理
	$(material_group_id_read).on('input', function(event) {
		
		//console.log($(material_group_id_read).val());
		
		// チェックボックスも有効
		var tbodys = $(mtbl+" tbody");//全行を取得
		for( var i=0,l=tbodys.length;i<l;i++ ){
			// 選択行のMATERIAL_NO取得
			var childtr = tbodys.eq(i).children();
			var childtd = $(childtr).children();
			var material_no = $(childtd.eq(0)).text();
			$('#'+tdcheck+material_no).prop('disabled', false);
		}
		// 実施対象のマテリアル取得
		var args = 
			"?MATERIAL_GORUP_ID="+$(material_group_id_read).val();
		//console.log(args);
		$.ajax({
		type: "GET", 
		url: '/rest/materialgroup/select'+args,
		}).done(function(data, dataType) {
			//console.log(data);
			var usage_arr = JSON.parse(data);
			$.each(usage_arr.list,function(i,MATERIAL_GORUP_ID){
				if($('#'+tdcheck+MATERIAL_GORUP_ID.material_NO).length){
					$('#'+tdcheck+MATERIAL_GORUP_ID.material_NO).prop('checked', true);
				}
			});
			$(startbtn).val('Start');
			$(material_group_id_read).val('');
			$(startbtn).focus();
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
	})
	
	// 有効期限ラベルPrintボタンクリック時の処理
	$(expdlabelprintbtn).click(function() {
		if($(expdlabel).val()==''){
			var min_exp_date = "";
	        var tbodys = $(mtbl+" tbody");//全行を取得
	        // 最短日の有効期限を取得
			for( var i=0,l=tbodys.length;i<l;i++ ){
				// 選択行のMATERIAL_NO取得
				var childtr = tbodys.eq(i).children();
				var childtd = $(childtr).children();
				var material_no = $(childtd.eq(0)).text();
				if($('#'+tdcheck+material_no).prop('checked') == true){
					var exp_date = $(childtd.eq(5)).text();
					if(min_exp_date==''){
						min_exp_date = exp_date;
					}else{
						if(exp_date<min_exp_date){
							min_exp_date = exp_date;
						}
					}
				}
			}
	        
	    	$(expdlabel).val(min_exp_date);
	    	//PDF作成処理
	        var docDef = {
	          content:[
	            {qr: min_exp_date}
	          ],
	        };
	        pdfMake.createPdf(docDef).open();
	        
		}else{
			//PDF作成処理
	        var docDef = {
	          content:[
	            {qr: $(expdlabel).val()}
	          ],
	        };
	        pdfMake.createPdf(docDef).open();
		}
	})

});

</script>

<!-- コンテンツ -->
<input type="hidden" th:id="'work_id'+${wgrp}" >
<input type="button" th:id="'setbtn'+${wgrp}" style="display:none;">
<table style="width:100%;">
<tr th:id="'tr_header'+${wgrp}"><td>
<input type="checkbox" th:id="'header_check'+${wgrp}" checked="checked" style="display:none;">

<!-- 作業手順ヘッダ START -->
<table th:id="'header'+${wgrp}"class="wgrpheader" th:onclick="|header_click('__${wgrp}__')|">
	<tr>
		<td class="workheader_wgrp">
			<labeL th:id="'work_group_name'+${wgrp}"></labeL>
		<td>
		<td class="workheader_allow">
			<table>
				<tr>
					<td><img th:id="'eximg'+${wgrp}" alt="" class="aicon" src="/images/exclamation_mark.png"></td>
					<td><labeL th:id="'allow'+${wgrp}">▲</labeL></td>
				</tr>
			</table>
		<td>
	</tr>
</table>
<!-- 作業手順ヘッダ END -->

<table th:id="'proc_table'+${wgrp}" class="wgrpwork">
<tr><td>

<!-- 作業手順 START -->
<table style="width:100%">
	<!-- 手順1 -->
	<tr>
		<td>
		<table style="width:100%">
			<tr style="text-align: left;"><td>
				<table class="worktable">
					<tr>
						<td colspan="2" th:id="'td'+${wgrp}+'001'"></td>
					</tr>
				</table>
			<td></tr>
			<tr style="text-align: left;"><td>
				<input type="text" th:id="'kitlabel'+${wgrp}" readonly style="width:300px;">
				<input type="button" th:id="'kitlabelprintbtn'+${wgrp}" value="Print" 
					class="btn custombtn" style="width:100px;">
			<td></tr>
			<tr style="text-align: right;"><td>
				<!-- 処理 -->
				<input type="button" th:id="'okbtn'+${wgrp}+'001'" value="OK" 
					class="btn custombtn" style="width:100px;" disabled="disabled">
			<td></tr>
		</table>
		</td>
	</tr>
	<!-- 手順2 -->
	<tr>
		<td>
		<table style="width:100%">
			<tr style="text-align: left;"><td>
				<table class="worktable">
					<tr>
						<td th:id="'td'+${wgrp}+'002'"></td>
					</tr>
				</table>
			<td></tr>
			<tr style="text-align: right;"><td>
				<!-- 処理 -->
				<input type="button" th:id="'startbtn'+${wgrp}" value="Start" 
					class="btn custombtn" style="width:100px;" disabled="disabled">
			<td></tr>
			<tr style="text-align: left;"><td>
				<table th:id="'mtbl'+${wgrp}" class="mtableArea">
					<thead>
						<tr>
							<th class="th_sticky" >Material #</th>
							<th class="th_sticky" >Material Name</th>
							<th class="th_sticky" >Required<br>amount</th>
							<th class="th_sticky" >Prepared<br>amount</th>
							<th class="th_sticky" >User lot #</th>
							<th class="th_sticky" >Exp. Date</th>
							<th class="th_sticky" >Performed Time</th>
							<th class="th_sticky" >Check</th>
						</tr>
			        </thead>
				</table>
			<td></tr>
			<tr style="text-align: right;"><td>
				<!-- 処理 -->
				<input type="button" th:id="'okbtn'+${wgrp}+'002'" value="OK" 
					class="btn custombtn" style="width:100px;" disabled="disabled">
			<td></tr>
		</table>
		</td>
	</tr>
	<!-- 手順3 -->
	<tr>
		<td>
		<table style="width:100%">
			<tr style="text-align: left;"><td>
				<table class="worktable">
					<tr>
						<td th:id="'td'+${wgrp}+'003'"></td>
					</tr>
				</table>
			<td></tr>
			<tr style="text-align: left;"><td>
				<input type="text" th:id="'expdlabel'+${wgrp}" readonly style="width:300px;">
				<input type="button" th:id="'expdlabelprintbtn'+${wgrp}" value="Print" 
					class="btn custombtn" style="width:100px;">
			<td></tr>
			<tr style="text-align: right;"><td>
				<!-- 処理 -->
				<input type="button" th:id="'okbtn'+${wgrp}+'003'" value="OK" 
					class="btn custombtn" style="width:100px;" disabled="disabled">
			<td></tr>
		</table>
		</td>
	</tr>
</table>
<!-- 作業手順 END -->

</td></tr>
</table>
<td>
</tr>
</table>
<div class="disopaypanel">
<input type="text" th:id="'material_group_id_read'+${wgrp}" 
	style="width:0px;height:0px;position: absolute;top:20px;right:50px;z-index:-10;">
</div>
