<div th:fragment="paramset(wgrp)" th:remove="tag">
<script th:inline="javascript">
$(function() {
	
	var wgrp = /*[[${wgrp}]]*/ '';
	var batch_id = $('#BATCH_ID').val();
	var process_id = $('#PROCESS_ID').val();
	
	// CSVファイル名
	var csvfile1 = "";
	var csvfile2 = "";
	var csvfile3 = "";

	// 作業グループ名セット
	getWorkGroupName(wgrp, wgrp, "work_group_name");
	
	// 要素名
	var setbtn = '#setbtn'+wgrp;
	var okbtn = '#okbtn'+wgrp;
	
	var tdcheck = '#tdcheck'+wgrp;
	var tdcoa = '#tdcoa'+wgrp;
	var td = '#td'+wgrp;
	
	var work_id = '#work_id'+wgrp;
	
	var checkpass = '#checkpass'+wgrp;
	var checkfail = '#checkfail'+wgrp;
	
	var btnDataGet = '#btnDataGet'+wgrp;
	var imgCapture1 = '#imgCapture1'+wgrp;
	var imgCapture2 = '#imgCapture2'+wgrp;
	var imgCapture3 = '#imgCapture3'+wgrp;
	var tblcsv1 = '#tblcsv1'+wgrp;
	var tblcsv2 = '#tblcsv2'+wgrp;
	var tblcsv3 = '#tblcsv3'+wgrp;
	
	// 作業手順取得
	var args = "?WORK_GROUP="+wgrp;
	$.ajax({
	    type: "GET", 
	    url: '/ajax/get_ebrtest'+args,
	}).done(function(data, dataType) {
	    if(data.length>0){
 	    	WORK_MASTER = data[0];
 		    $(td).text(WORK_MASTER.work);
 		    $(work_id).val(WORK_MASTER.work_ID);
 		    $(imgCapture1).attr("src", "data:image/;base64,"+WORK_MASTER.capture1);
 		    $(imgCapture2).attr("src", "data:image/;base64,"+WORK_MASTER.capture2);
 		    $(imgCapture3).attr("src", "data:image/;base64,"+WORK_MASTER.capture3);
			if(WORK_MASTER.csv1!==null) csvfile1 = WORK_MASTER.csv1.split("\r\n");
			if(WORK_MASTER.csv2!==null) csvfile2 = WORK_MASTER.csv2.split("\r\n");
			if(WORK_MASTER.csv3!==null) csvfile3 = WORK_MASTER.csv3.split("\r\n");
 		    $(checkpass).prop('checked', true);
 		    $(checkfail).prop('checked', false);
 	    }
	    
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	setDisabled(checkpass,true);
	setDisabled(checkfail,true);
	
	// チェックボックスの設定
	$(checkpass).on("click", function(){
        $(checkfail).prop('checked', false);
        $(this).prop('checked', true);
	});
	$(checkfail).on("click", function(){
        $(checkpass).prop('checked', false);
        $(this).prop('checked', true);
	});
 	
	// 一覧行クリック時の処理
	$(setbtn).click(function() {
		// ステータスチェック
		var args = 
			"?WORK_GROUP="+wgrp+
			"&WORK_ID=001"+
			"&ID="+batch_id;

		$.ajax({
		type: "GET", 
		url: '/ajax/check_status'+args,
		}).done(function(data, dataType) {
			if(data==false){
				setDisabled(okbtn,true);
				setDisabled(checkpass, true);
				setDisabled(checkfail, true);
				setDisabled(btnDataGet, true);
			}else{
				open_work(wgrp, true);	// 作業手順表示
				setDisabled(okbtn,false);
				setDisabled(checkpass, false);
				setDisabled(checkfail, false);
				setDisabled(btnDataGet, false);
			}
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		  // エラーメッセージの表示
		  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
	})
 	
	// データ取り込みクリック時の処理
	$(btnDataGet).click(function() {
		$(imgCapture1).show();
		$(imgCapture2).show();
		$(imgCapture3).show();

		// テーブルの明細部分(tbody)を生成
		//-- tblcsv1
		// tbodyをクリア
		$("#tblcsv1"+wgrp+" > tbody").html("");
		
	    //データをテーブル形式にする 
	    $.each(csvfile1,function(i,csvstr){
	    	if(csvstr === ""){
	    		return false;
	    	}
	    	var csv_arry = csvstr.split(",");
	    	
	    	var tbody = $('<tbody />');
	    	
			var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(csv_arry[0]));
	        tr1.append($('<td/>').text(csv_arry[1]+" "+csv_arry[2]));
	        
	        tbody.append(tr1);
	        
	        $(tblcsv1).append(tbody);
	    });
		//-- tblcsv2
		// tbodyをクリア
		$("#tblcsv2"+wgrp+" > tbody").html("");
		
	    //データをテーブル形式にする 
	    $.each(csvfile2,function(i,csvstr){
	    	if(csvstr === ""){
	    		return false;
	    	}
	    	var csv_arry = csvstr.split(",");
	    	
	    	var tbody = $('<tbody />');
	    	
			var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(csv_arry[0]));
	        tr1.append($('<td/>').text(csv_arry[1]+" "+csv_arry[2]));
	        
	        tbody.append(tr1);
	        
	        $(tblcsv2).append(tbody);
	    });
		//-- tblcsv3
		// tbodyをクリア
		$("#tblcsv3"+wgrp+" > tbody").html("");
		
	    //データをテーブル形式にする 
	    $.each(csvfile3,function(i,csvstr){
	    	if(csvstr === ""){
	    		return false;
	    	}
	    	var csv_arry = csvstr.split(",");
	    	
	    	var tbody = $('<tbody />');
	    	
			var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(csv_arry[0]));
	        tr1.append($('<td/>').text(csv_arry[1]+" "+csv_arry[2]));
	        
	        tbody.append(tr1);
	        
	        $(tblcsv3).append(tbody);
	    });
	})
	
	// OKボタンクリック時の処理
	$(okbtn).click(function() {
		
		// チェックボックスの状態によってデータをセット
		var CHECK_RESULT = '';
		if($(checkpass).prop('checked')) CHECK_RESULT='1';
		if($(checkfail).prop('checked')) CHECK_RESULT='0';
		
		// 入力チェック
		// Visually check
		if(CHECK_RESULT==''){
			alertdialog('Please check PASS or FAIL.(Visually check)');
			return;
		}
		
		confirm_qualitycontrol(wgrp,'001',CHECK_RESULT);
	})
	
});

</script>
<!-- コンテンツ -->
<input type="hidden" th:id="'work_id'+${wgrp}" >
<input type="button" th:id="'setbtn'+${wgrp}" style="display:none;">
<table style="width:100%;">
<tr th:id="'tr_header'+${wgrp}"><td>
<input type="checkbox" th:id="'header_check'+${wgrp}" checked="checked" style="display:none;">

<!-- 作業手順ヘッダ START -->
<table th:id="'header'+${wgrp}"class="wgrpheader" th:onclick="|header_click('__${wgrp}__')|">
	<tr>
		<td class="workheader_wgrp">
			<labeL th:id="'work_group_name'+${wgrp}"></labeL>
		<td>
		<td class="workheader_allow">
			<labeL th:id="'allow'+${wgrp}">▲</labeL>
		<td>
	</tr>
</table>
<!-- 作業手順ヘッダ END -->

<table th:id="'proc_table'+${wgrp}" class="wgrpwork">
<tr><td>

<!-- 作業手順 START -->
<table style="width:100%">
	<tr>
		<td>
		<table style="width:100%">
			<tr style="text-align: left;"><td>
				<!-- 作業手順 -->
				<table class="worktable">
					<tr>
						<td th:id="'td'+${wgrp}"></td>
					</tr>
				</table>
			<td></tr>
		</table>
		<table>
			<tr style="vertical-align: top;">
			<td style="width:100px;" rowspan="3">
				<!-- データ取り込みアイコン -->
				<!-- https://icooon-mono.com/ -->
				<a href="#" th:id="'btnDataGet'+${wgrp}"><img src="/images/dataget.png" alt="データ取り込みアイコン"></i></a>
			</td>
			<td style="width:200px;">
				<img th:id="'imgCapture1'+${wgrp}" class="" 
					width="400px" height="400px" alt="Capture1" style="display:none;">
			</td>
			<td style="width:400px;">
				<table th:id="'tblcsv1'+${wgrp}" class="csvtbl">
				<thead>
					<tr><th colspan="2" class="th_csvtbl">Date</th></tr>
				</thead>
				</table>
			</td>
			<td style="width:100px;" rowspan="3">
				<label>Decision</label>
			</td>
			<td style="width:300px;" rowspan="3">
				<table>
				<tr class="checklistcheckbox">
					<td>
						<label class="checklistcheckbox">
							<input type="checkbox" th:id="'checkpass'+${wgrp}">
							PASS
						</label>
					</td>
				</tr>
				<tr class="checklistcheckbox">
					<td>
						<label class="checklistcheckbox">
							<input type="checkbox" th:id="'checkfail'+${wgrp}">
							FAIL
						</label>
					</td>
				</tr>
				</table>
			</td>
			</tr>
			<tr style="vertical-align: top;">
			<td style="width:200px;">
				<img th:id="'imgCapture2'+${wgrp}" class="" 
					width="400px" height="400px" alt="Capture2" style="display:none;">
			</td>
			<td style="width:400px;">
				<table th:id="'tblcsv2'+${wgrp}" class="csvtbl">
				<thead>
					<tr><th colspan="2" class="th_csvtbl">Date</th></tr>
				</thead>
				</table>
			</td>
			</tr>
			<tr style="vertical-align: top;">
			<td style="width:200px;">
				<img th:id="'imgCapture3'+${wgrp}" class="" 
					width="400px" height="400px" alt="Capture3" style="display:none;">
			</td>
			<td style="width:400px;">
				<table th:id="'tblcsv3'+${wgrp}" class="csvtbl">
				<thead>
					<tr><th colspan="2" class="th_csvtbl">Date</th></tr>
				</thead>
				</table>
			</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr style="text-align: right;"><td>
		<!-- 処理 -->
		<input type="button" th:id="'okbtn'+${wgrp}" value="OK" 
			class="btn custombtn" style="width:100px;" disabled="disabled">
	<td></tr>
</table>
<!-- 作業手順 END -->

</td></tr>
</table>
<td>
</tr>
</table>