<div th:fragment="paramset(wgrp)" th:remove="tag">
<script th:inline="javascript">
$(function() {
	
	var wgrp = /*[[${wgrp}]]*/ '';
	
	// 作業グループ名セット
	getWorkGroupName(wgrp, wgrp, "work_group_name");
	
	// 要素名
	var setbtn = '#setbtn'+wgrp;
	var okbtn = '#okbtn'+wgrp;
	
	var tdcheck = '#tdcheck'+wgrp;
	var tdcoa = '#tdcoa'+wgrp;
	var td = '#td'+wgrp;
	
	var work_id = '#work_id'+wgrp;
	
	var checkpass = '#checkpass'+wgrp;
	var checkfail = '#checkfail'+wgrp;
	var checkreason = '#checkreason'+wgrp;
	var coapass = '#coapass'+wgrp;
	var coafail = '#coafail'+wgrp;
	var coareason = '#coareason'+wgrp;
	var downfile_text = '#downfile_text'+wgrp;
	
	var storage = '#storage'+wgrp;
	
	var accept = '#accept'+wgrp;
	var reject = '#reject'+wgrp;
	var PerformedName = '#PerformedName'+wgrp;
	var PerformedDate = '#PerformedDate'+wgrp;
	var ApprovedName = '#ApprovedName'+wgrp;
	var ApprovedDate = '#ApprovedDate'+wgrp;
	
	// 作業手順取得
	var args = "?WORK_GROUP="+wgrp;
	$.ajax({
	    type: "GET", 
	    url: '/rest/workmst/select'+args,
	}).done(function(data, dataType) {
	    var usage_arr = JSON.parse(data);
	    if(usage_arr.list.length>0){
 	    	WORK_MASTER = usage_arr.list[0];
 		    $(td).text(WORK_MASTER.work);
 		    $(work_id).val(WORK_MASTER.work_ID);
 	    }
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	// チェックリストの手順名取得
	$.ajax({
	    type: "GET", 
	    url: '/ajax/fixed_work',
	}).done(function(data, dataType) {
	    var msgs = JSON.parse(data);
	    $(tdcheck).text(msgs.CHECKLIST_MSG1);
		$(tdcoa).text(msgs.CHECKLIST_MSG2);
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
 	
	 setDisabled(checkpass,true);
	 setDisabled(checkfail,true);
	 setDisabled(checkreason,true);
	 setDisabled(coapass,true);
	 setDisabled(coafail,true);
	 setDisabled(coareason,true);
	
	// チェックボックスの設定
	$(accept).on("click", function(){
        $(reject).prop('checked', false);
        $(this).prop('checked', true);
	});
	$(reject).on("click", function(){
        $(accept).prop('checked', false);
        $(this).prop('checked', true);
	});
 	
	// 一覧行クリック時の処理
	$(setbtn).click(function(event, id) {
		
		$(accept).prop('checked', false);
		$(reject).prop('checked', false);
		
		// 作業グループマスタ取得
		var args = 
	 		"?WORK_GROUP="+wgrp;
		
	 	$.ajax({
	 	    type: "GET", 
	 	    url: '/rest/workgroupmst/select'+args,
	 	}).done(function(data) {
	 		
	 	    var usage_arr = JSON.parse(data);
	 	    if(usage_arr.list.length>0){
	 	    	
	          var WORK_GROUP_MASTER = usage_arr.list[0];
	 	    	
	          // 前作業グループの作業実績取得（WORK_ID指定なし）
	 	      args = 
	 		 		"?WORK_GROUP="+WORK_GROUP_MASTER.before_WORK_GROUP+
	 		 		"&ID="+id;
	 		   
	 		  $.ajax({
	 		 	    type: "GET", 
	 		 	    url: '/rest/workresult/select'+args,
	 		 	}).done(function(data) {
	 		 		
	 		 	    var usage_arr = JSON.parse(data);
	 		 	    if(usage_arr.list.length>0){
	 		 	    	// 作業実績が存在する場合
	 		 		    var WORK_RESULT_TABLE = usage_arr.list[0];
	 		 			setTextBox(checkreason, WORK_RESULT_TABLE.check_REASON);
	 		 			setTextBox(coareason, WORK_RESULT_TABLE.check_COA_REASON);
	 		 			setCheckBoxPassFail(checkpass, checkfail, WORK_RESULT_TABLE.check_RESULT);
	 		 			setCheckBoxPassFail(coapass, coafail, WORK_RESULT_TABLE.check_COA);
	 		 			$(downfile_text).text(WORK_RESULT_TABLE.check_FILE_NAME);
	 		 	 		$(downfile_text).attr("href", WORK_RESULT_TABLE.check_FILE_BASE64);
	 		 	 		$(downfile_text).attr("download", WORK_RESULT_TABLE.check_FILE_NAME);
	 		 	 		
	 		 	 		$(PerformedName).text(WORK_RESULT_TABLE.work_USERNAME);
	 		 	 		$(PerformedDate).text(WORK_RESULT_TABLE.work_DATE);
	 		 			
	 		 	    }
	 		 	    else{
	 		 	    	// 作業実績が存在しない場合
	 		 			setTextBox(checkreason, '');
	 		 			setTextBox(coareason, '');
	 		 			setCheckBoxPassFail(checkpass, checkfail, '');
	 		 			setCheckBoxPassFail(coapass, coafail, '');
	 		 			$(downfile_text).text('');
	 		 	 		$(downfile_text).attr("href", '');
	 		 	 		$(downfile_text).attr("download", '');
	 		 	 		
	 		 	 		$(PerformedName).text('');
	 		 	 		$(PerformedDate).text('');
	 		 	    }
	 		 	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	 		 	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	 		 	});
	 	    }
	 	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	 	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	 	});
	 	
	    // QA承認の作業実績取得
	 	args = 
			"?WORK_GROUP="+wgrp+
			"&WORK_ID="+$("#work_id"+wgrp).val()+
			"&ID="+id;
	    
		$.ajax({
		type: "GET", 
		url: '/rest/workresult/select'+args,
		}).done(function(data, dataType) {
			var usage_arr = JSON.parse(data);
	 	    if(usage_arr.list.length>0){
	 	    	// 作業実績が存在する場合
	 		    var WORK_RESULT_TABLE = usage_arr.list[0];
	 			$(ApprovedName).text(WORK_RESULT_TABLE.work_USERNAME);
	 	 		$(ApprovedDate).text(WORK_RESULT_TABLE.work_DATE);
	 	    }else{
	 	    	$(ApprovedName).text('');
	 	 		$(ApprovedDate).text('');
	 	    }
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
		// ステータスチェック
		var args = 
			"?WORK_GROUP="+wgrp+
			"&WORK_ID="+$("#work_id"+wgrp).val()+
			"&ID="+id;

		$.ajax({
		type: "GET", 
		url: '/ajax/check_status'+args,
		}).done(function(data, dataType) {
			if(data==false){
				setDisabled(okbtn,true);
				setDisabled(accept,true);
				setDisabled(reject,true);
			}else{
				open_work(wgrp, true);	// 作業手順表示
				setDisabled(okbtn,false);
				setDisabled(accept,false);
				setDisabled(reject,false);
			}
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
		// 受入情報セット
		var args = "?MATERIAL_NO="+id;
		$.ajax({
		    type: "GET", 
		    url: '/rest/accept/select'+args,
		}).done(function(data, dataType) {
		    var usage_arr = JSON.parse(data);
		    if(usage_arr.list.length>0){
	 	    	// 受入情報が存在する場合
	 	    	initAT();
	 		    select_ACCEPT_TABLE = usage_arr.list[0];
	 		    setTextBox(storage,select_ACCEPT_TABLE.storage);
	 	    }

		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		  // エラーメッセージの表示
		  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
	})
 	
	// OKボタンクリック時の処理
	$(okbtn).click(function() {
		
		// チェックボックスの状態によってデータをセット
		var QA_APP_STATUS = '';
		if($(accept).prop('checked')) QA_APP_STATUS='1';
		if($(reject).prop('checked')) QA_APP_STATUS='0';
		
		if(QA_APP_STATUS==''){
			alertdialog('Please check Accept or Reject.');
			return;
		}
		
		$('#confirmdialog').dialog({
			dialogClass:'confirm_dialog',
			modal:true, //モーダル表示
			title:"confirm", //タイトル
			buttons:[
				{
					text: "OK",
					class:"btn custombtn",
					click: function() {
						$(this).dialog("close");
						try{
							// 受入情報更新＋作業実績登録
							update_ac_wr(
									wgrp,$(work_id).val(),
									null, null,null,QA_APP_STATUS,
								 	null,
								 	null,
								 	null,
								 	null
								 	);
						}catch(e){
							console.log(e);
						}
					}
				},
				{
					text: "Cancel",
					class:"btn custombtn",
					click: function() {
						$(this).dialog("close");
					}
				}
			]
		});
	})
	
});

</script>
<!-- コンテンツ -->
<input type="hidden" th:id="'work_id'+${wgrp}" >
<input type="button" th:id="'setbtn'+${wgrp}" style="display:none;">
<table style="width:100%;">
<tr th:id="'tr_header'+${wgrp}"><td>
<input type="checkbox" th:id="'header_check'+${wgrp}" checked="checked" style="display:none;">

<!-- 作業手順ヘッダ START -->
<table th:id="'header'+${wgrp}"class="wgrpheader" th:onclick="|header_click('__${wgrp}__')|">
	<tr>
		<td class="workheader_wgrp">
			<labeL th:id="'work_group_name'+${wgrp}"></labeL>
		<td>
		<td class="workheader_allow">
			<labeL th:id="'allow'+${wgrp}">▲</labeL>
		<td>
	</tr>
</table>
<!-- 作業手順ヘッダ END -->

<table th:id="'proc_table'+${wgrp}" class="wgrpwork">
<tr><td>

<!-- 作業手順 START -->
<table style="width:100%">
	<tr>
		<td>
			<table class="checklist">
				<tr class="checklistheader">
					<td>
						<label for="file_upload">
							Checklist
						</label>
					</td>
				</tr>
				
				<tr>
					<td>
						<table class="checklistcontens">
							<tr><td th:id="'tdcheck'+${wgrp}"></td></tr>
						</table>
					</td>
				</tr>
				<tr class="checklistcheckbox">
					<td>
						<label>
							<input type="checkbox" th:id="'checkpass'+${wgrp}">
							PASS
						</label>
						<label class="checklistcheckbox">
							<input type="checkbox" th:id="'checkfail'+${wgrp}">
							FAIL
						</label>
					</td>
				</tr>
				<tr class="checklistreaoson">
					<td>
						<label>
							Reason：
							<input type="text" th:id="'checkreason'+${wgrp}" >
						</label>
					</td>
				</tr>
				
				<tr>
					<td>
						<table class="checklistcontens">
							<tr><td th:id="'tdcoa'+${wgrp}"></td></tr>
						</table>
					</td>
				</tr>
				<tr class="checklistcheckbox">
					<td>
						<label>
							<input type="checkbox" th:id="'coapass'+${wgrp}">
							PASS
						</label>
						<label class="checklistcheckbox">
							<input type="checkbox" th:id="'coafail'+${wgrp}">
							FAIL
						</label>
					</td>
				</tr>
				<tr class="checklistreaoson">
					<td>
						<label>
							Reason：
							<input type="text" th:id="'coareason'+${wgrp}" >
						</label>
					</td>
				</tr>
				
				<tr>
					<td class="checklistfile">
						<label for="file_upload">
							Attached file：<a href="" th:id="'downfile_text'+${wgrp}"></a>
						</label>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="approvalheader">
		<td>
			<label>
				Judgment
			</label>
		</td>
	</tr>
	<tr class="checklistcheckbox">
		<td>
			<label>
				<input type="checkbox" th:id="'accept'+${wgrp}">
				Accept
			</label>
			<label class="checklistcheckbox">
				<input type="checkbox" th:id="'reject'+${wgrp}">
				Reject
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<table class="approvallist">
				<thead>
					<tr>
						<th>Status</th>
						<th>Name</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Performed</td>
						<td th:id="'PerformedName'+${wgrp}"></td>
						<td th:id="'PerformedDate'+${wgrp}"></td>
					</tr>
					<tr>
						<td>Approved</td>
						<td th:id="'ApprovedName'+${wgrp}"></td>
						<td th:id="'ApprovedDate'+${wgrp}"></td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr style="text-align: right;"><td>
		<!-- 処理 -->
		<input type="button" th:id="'okbtn'+${wgrp}" value="OK" 
			class="btn custombtn" style="width:100px;" disabled="disabled">
	<td></tr>
</table>
<!-- 作業手順 END -->

</td></tr>
</table>
<td>
</tr>
</table>