<div th:fragment="body">
<script th:inline="javascript">

var disp_flg = sessionStorage.getItem(['DISP_FLG']);
var create_status = /*[[${CREATE_STATUS}]]*/ '';
const pmjson = JSON.parse($("#PROCESS_MASTER_json").val());
const wgrpjson = JSON.parse($("#WORK_GROUP_MASTER_json").val());
const wmjson = JSON.parse($("#WORK_MASTER_json").val());
/***********************************
画面初期処理
***********************************/
$(function(){
	
	var item_list;
	
	// ヘッダスタイル変更
	change_header_style(disp_flg);
	
    // ヘッダメニュー変更
    $('#hamberger_menu_list').children().remove();
	var hamberger_menu_ul = $('<ul />');
	hamberger_menu_ul.append('<li><a id="hamberger_menu1" href="javascript:void(0);">Manufacturing instructions</a></li>');
	hamberger_menu_ul.append('<li><a id="hamberger_menu2" href="javascript:void(0);">Manufacturing instructions by process</a></li>');
	$('#hamberger_menu_list').append(hamberger_menu_ul);

	// 一覧取得
	search();
	
	// 指図作成ボタンクリック
	$("#createbtn").click(function(){
		var select = $('[name=cmbitemlist]');
		select.children().remove();
		var option = $('<option>')
          .text('')
          .val('');
        select.append(option);
	    $.each(item_list,function(i,INSTRUCTIONS_MASTER){
	    	// 工程フロー図の工程名称セット
	    	var option = $('<option>')
	          .text(INSTRUCTIONS_MASTER.name)
	          .val(INSTRUCTIONS_MASTER.im_ID);
	        select.append(option);
	    });
		$("#itemlist").dialog("open");
	    return false;
	});
	
	// 指図リリースボタンクリック
	$("#releasebtn").click(function(){
	  if($("#batch_id").val()==''){
		  alertdialog(MESSAGE.W013);
	  }else{
		  
		  var tbodys = $("#tbl1 tbody");//全行を取得
		  
		  var created = false;
			for( var i=0,l=tbodys.length;i<l;i++ ){
				// 選択行のMATERIAL_NO取得
				var childtr = tbodys.eq(i).children();
				var childtd = $(childtr).children();
				var batch_id = $(childtd.eq(0)).text();
				var status = $(childtd.eq(4)).text();
				if(batch_id==$("#batch_id").val() && status==create_status){
					created = true;
				}
			}	
			
		  if(created){
			  $('#release_confirmdialog_label').text(MESSAGE.I003);
	  	  	  $("#release_confirmdialog").dialog("open");
		  }else{
			  alertdialog(MESSAGE.W014.replace('$$', $("#batch_id").val()));
		  }
	  }
	});
	
	// 指図詳細Closeボタンクリック
	$("#closetab").click(function(){
		$("#detail").hide();
	});
	
	// 指図詳細タブ設定
	$("#detail").tabs();
	
	// 品目ダイアログ
	$("#itemlist").dialog({
	  autoOpen: false,
	  title:"Item list", //タイトル
	  height: 200,
      width: 350,
	  modal: true,
		buttons:[
			{
				text: "OK",
				class:"btn custombtn",
				click: function() {
					if($('[name=cmbitemlist]').val()==''){
						alertdialog(MESSAGE.W012);
					}else{
						$('#create_confirmdialog_label').text(MESSAGE.I002);
						$("#create_confirmdialog").dialog("open");
					}
					$(this).dialog("close");
				}
			},
			{
				text: "Cancel",
				class:"btn custombtn",
				click: function() {
					$(this).dialog("close");
				}
			}]
	});
	
	// 指図作成　確認ダイアログ
	$('#create_confirmdialog').dialog({
	  autoOpen: false,
  	  dialogClass:'confirm_dialog',
  	  modal:true, //モーダル表示
  	  title:"Confirm", //タイトル
 	  height: 200,
      width: 350,
		buttons:[
			{
				text: "OK",
				class:"btn custombtn",
				click: function() {
				
					$(this).dialog("close");
					// 指図作成実行
					// データを送信
					var data = { IM_ID: $('[name=cmbitemlist]').val() };
					var XHR = new XMLHttpRequest();
					XHR.open( "POST", "/ajax/create_instructions");
					XHR.setRequestHeader('Content-Type', 'application/json');
					XHR.send(JSON.stringify(data));
					XHR.onreadystatechange = function() {
					if( XHR.readyState === 4 && XHR.status === 200 ) {
						// 正常終了時に処理
						// 一覧取得
						//console.log(XHR.responseText);
						$("#batch_id").val(XHR.responseText);
						search();
					}else{
						if(XHR.status === 409){
							console.log(XHR.responseText);
							location.href = '/login';
						}else{
							if(XHR.responseText.indexOf('error')>=0){
								if(XHR.responseText==''){
								}else{
									error(XHR.responseText); //エラーダイアログ表示
								}
							}
						}
					}
				}
			}},
			{
				text: "Cancel",
				class:"btn custombtn",
				click: function() {
					$(this).dialog("close");
					return false;
				}
			}]
  	});
	
	// 指図リリース　確認ダイアログ
	$('#release_confirmdialog').dialog({
	  autoOpen: false,
  	  dialogClass:'confirm_dialog',
  	  modal:true, //モーダル表示
  	  title:"Confirm", //タイトル
 	  height: 200,
      width: 350,
		buttons:[{
			text: "OK",
			class:"btn custombtn",
			click: function() {
				$(this).dialog("close");
				// 指図作成実行
				// データを送信
				var data = { BATCH_ID: $("#batch_id").val() };
				var XHR = new XMLHttpRequest();
				XHR.open( "POST", "/ajax/release_instructions");
				XHR.setRequestHeader('Content-Type', 'application/json');
				XHR.send(JSON.stringify(data));
				XHR.onreadystatechange = function() {
				if( XHR.readyState === 4 && XHR.status === 200 ) {
					// 正常終了時に処理
					// 一覧取得
					var tbodys = $("#tbl1 tbody");//全行を取得
					var status = "";
					const status_json = JSON.parse($("#status_list").val());
					for( var i=0,l=tbodys.length;i<l;i++ ){
						// 選択行のMATERIAL_NO取得
						var childtr = tbodys.eq(i).children();
						var childtd = $(childtr).children();
						var batch_id = $(childtd.eq(0)).text();
						if(batch_id==$("#batch_id").val()){
							childtd.eq(4).text(status_json[is_release_status]);
						}
					}
				}else{
					if(XHR.status === 409){
						console.log(XHR.responseText);
						location.href = '/login';
					}else{
						if(XHR.responseText==''){
						}else{
							error(XHR.responseText); //エラーダイアログ表示
						}
					}
				}
			}
		}},
		{
			text: "Cancel",
			class:"btn custombtn",
			click: function() {
				$(this).dialog("close");
			}
		}]
  	});
	
	// 指図詳細　ダイアログ
	$('#detail_dialog').dialog({
	  autoOpen: false,
  	  modal:true, //モーダル表示
  	  title:"Instructions detail", //タイトル
 	  height: 700,
      width: "100%",
      buttons:[
          {text: "Close",
           class:"btn custombtn",
           click: function() {
        	   $(this).dialog("close");
        	   }
          }]
  	});
	
	// 品目リスト取得
	$.ajax({
	    type: "GET", 
	    url: '/rest/instructionsmst/select',
	}).done(function(data, dataType) {
	    var usage_arr = JSON.parse(data);
	    item_list = usage_arr.list;
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	// 初期表示時、工程フロー図非表示
	$("#process_flow").hide();
	
	// 工程フロー図 工程図クリック時処理設定
	for (let [key, value] of PROCESS) {
		$("#"+value[0]).click(function(){
			var tbodys = $("#tbl1 tbody");//全行を取得
			var status = "";
			for( var i=0,l=tbodys.length;i<l;i++ ){
				// 選択行のMATERIAL_NO取得
				var childtr = tbodys.eq(i).children();
				var childtd = $(childtr).children();
				var batch_id = $(childtd.eq(0)).text();
				if(batch_id==$("#batch_id").val()){
					status = (childtd.eq(4)).text();
				}
			}
			
			if(status==create_status){
				// ステータスが指図作成済の場合操作不可
				alertdialog(MESSAGE.W011);
			}else{
				if(disp_flg==value[1]){
					// 作業手順の画面へ遷移				
					  $('<form/>', {action: value[2], method: 'post'})
					  .append($('<input/>', {type: 'hidden', name: 'PROCESS_ID', value: key}))
					  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#batch_id").val()}))
					  .append($('<input/>', {type: 'hidden', name: 'RETURN_URL', value: "/instructions"}))
					  .appendTo(document.body)
					  .submit();
				}else{
					// 対象工程以外は操作不可
					alertdialog(MESSAGE.W010);
				}
			}
		});
	}
	
	// 操作権限チェック
	$.ajax({
	    type: "GET", 
	    url: '/ajax/check_operation_authority?WORK_GROUP=IS01',
	}).done(function(data, dataType) {
	    if(!data){
	    	$("#createbtn").prop("disabled",true);
	    	$("#releasebtn").prop("disabled",true);
	    }
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	// 製造指図メニュークリック
	$("#hamberger_menu1").click(function() {
		if($("#batch_id").val()==''){
			alertdialog(MESSAGE.W013);
		}else{
			$("#detail").tabs(
				{ active: 0 } //タブの初期値指定
			);
			$('#detail_dialog').dialog("open");
			sessionStorage.setItem(['BATCH_ID'],[$("#batch_id").val()]);
        	$('#setbtnInsructionsDetail').trigger('click');
		}
	});
	
	// 工程別製造指図メニュークリック
	$("#hamberger_menu2").click(function() {
		if($("#batch_id").val()==''){
			alertdialog(MESSAGE.W013);
		}else{
			$("#detail").tabs(
				{ active: 1 } //タブの初期値指定
			);
			$('#detail_dialog').dialog("open");
			sessionStorage.setItem(['BATCH_ID'],[$("#batch_id").val()]);
        	$('#setbtnProcInsructions').trigger('click');
		}
	});
	
	// 工程フロー図の工程名称取得
	Object.keys(pmjson.list).forEach(function (key) {
    	var PROCESS_MASTER = pmjson.list[key];
    	// 工程フロー図の工程名称セット
    	for (let [key, value] of PROCESS) {
    		if(PROCESS_MASTER.process_ID==key){
	    		$('#lbl'+value[0]).text(PROCESS_MASTER.process_NAME);
	    	}
    	}
	});
	
});

/***********************************
受入一覧表示
***********************************/
function search(){
	
	// 保持データクリア
	//$("#batch_id").val("");
	
	// 工程フロー図非表示
	//$("#process_flow").hide();
	
	// tbodyをクリア
	$("#tbl1 > tbody").html("");
	
	// テーブル初期状態セット
	tbody_default("#tbl1");
	
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/instructions/select',
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    const status_json = JSON.parse($("#status_list").val());
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,INSTRUCTIONS_TABLE){
	    	var tbody = $('<tbody />');
	    	
	        var tr1 = $('<tr/>');
	        
	        var tdbatchid = $('<td/>');
	        var abatchid = $("<a></a>", {
	        	  href: "#",
	        	  class: "blank",
	        	  text: INSTRUCTIONS_TABLE.batch_ID,
	        	});
	        
	        $(abatchid).on('click',function(){
	        	$("#detail").tabs(
    				{ active: 0 } //タブの初期値指定
    			);
	        	$('#detail_dialog').dialog("open");
	        	sessionStorage.setItem(['BATCH_ID'],[INSTRUCTIONS_TABLE.batch_ID]);
	        	$('#setbtnInsructionsDetail').trigger('click');
        	});
	        
	        tdbatchid.append(abatchid);
	        tr1.append(tdbatchid);
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.protocol));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.starting_TIME));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.finish_TIME));
	        
	        var tdstatus = $('<td/>');
	        tdstatus.text(status_json[INSTRUCTIONS_TABLE.status]);
	        
	        // 逸脱チェック
	     	// 作業グループステータス取得
			var args = "?BATCH_ID="+INSTRUCTIONS_TABLE.batch_ID;
			$.ajax({
			type: "GET", 
			url: '/rest/workgroupstatus/select'+args,
			}).done(function(wgrpdata, wgrpdataType) {
			
				var wgrp_arr = JSON.parse(wgrpdata);
				var diviation_flg = false;
				$.each(wgrp_arr.list,function(j,WORK_GROUP_STATUS_TABLE){
					if(WORK_GROUP_STATUS_TABLE.status==wgrp_diviation_status){
						diviation_flg = true;
					}
				});
				
				if(diviation_flg){
					// 作業グループステータスに１つ以上逸脱があれば
					// ステータスを逸脱に変更＋逸脱アイコン表示
					tdstatus.text(deviation);
			        tdstatus.append($("<img></img>", {
			        	  src: "/images/exclamation_mark.png",
			        	  addClass: "aicon",
			        	}));
				}
			
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
			});
			   
	        tr1.append(tdstatus);
	        tbody.append(tr1);
	        
	        $('#tbl1').append(tbody);
	        
	        // 一覧の行ダブルクリック
	        tr1.dblclick(function(){
	        	if(disp_flg=='4'){
		        	// batch release画面へ遷移				
					  $('<form/>', {action: '/batchrelease', method: 'post'})
					  .append($('<input/>', {type: 'hidden', name: 'PROCESS_ID', value: 'BR'}))
					  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: INSTRUCTIONS_TABLE.batch_ID}))
					  .append($('<input/>', {type: 'hidden', name: 'RETURN_URL', value: "/instructions"}))
					  .appendTo(document.body)
					  .submit();
				}
	        });
	        // 一覧の行クリック
	        tr1.click(function(){
	        	select_row(this);
	        });
	        
	        if($("#batch_id").val()==INSTRUCTIONS_TABLE.batch_ID){
	        	select_row(tr1);
	        	$('#tbl1').animate({scrollTop:tbody.offset().top-200});
	        }
	        /*
	        if(create_flg){
	        	$('#tbl1').animate({scrollTop:tbody.offset().top});
	        }
	        */
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
}

/***********************************
一覧の行クリック
***********************************/
function select_row(obj){

	// テーブル初期状態セット
	tbody_default("#tbl1");
	
	var tb = $(obj).parent();
	
	// テーブル行選択状態セット
	row_click($(tb));
	
	// 選択行のMATERIAL_NO取得
	var childtr = $(tb).children();
	var childtd = $(childtr).children();
	var batch_id = $(childtd.eq(0)).text();

	// データ保持
	$("#batch_id").val(batch_id);
	
	// 工程フロー図表示
	$("#process_flow").show();
	
	// 工程図のステータスセット
	var args = "?BATCH_ID="+batch_id;

	// 工程ステータス取得
	$.ajax({
	type: "GET", 
	url: '/rest/processstatus/select'+args,
	}).done(function(data, dataType) {
		var usage_arr = JSON.parse(data);
		$.each(usage_arr.list,function(i,PROCESS_STATUS_TABLE){
			
			var process_id = PROCESS_STATUS_TABLE.process_ID;
			//console.log(process_id);
			
			if(process_id!='IS'){	// 指図工程は工程フロー図に存在しないため除外
				
				var end_flg = false;
				
				// 完了チェック
				for (const end of end_status) {
					if(PROCESS_STATUS_TABLE.status==end){
						end_flg = true;
					}
				}
				if(end_flg){
					// 完了アイコン表示
					$('#cm'+PROCESS.get(process_id)[0]).show();
					PROCESS.get(process_id)[4] = true;
				}else{
					$('#cm'+PROCESS.get(process_id)[0]).hide();
					PROCESS.get(process_id)[4] = false;
				}
				
				var args2 = "?BATCH_ID="+batch_id+
							"&PROCESS_ID="+process_id;
				
				// 作業グループステータス取得
				$.ajax({
				type: "GET", 
				url: '/rest/workgroupstatus/select'+args2,
				}).done(function(data2, dataType) {
				
					var usage_arr2 = JSON.parse(data2);
					var diviation_flg = false;
					$.each(usage_arr2.list,function(j,WORK_GROUP_STATUS_TABLE){
						if(WORK_GROUP_STATUS_TABLE.status==wgrp_diviation_status){
							diviation_flg = true;
						}
					});
					
					if(diviation_flg){
					// 作業グループステータスに１つ以上逸脱があれば逸脱アイコン表示
						$('#ex'+PROCESS.get(process_id)[0]).show();
					}else{
						$('#ex'+PROCESS.get(process_id)[0]).hide();
					}
				
				}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
					console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
				});
			}
			
		});
		
		for (let [key, value] of PROCESS) {
			$('#ar'+PROCESS.get(key)[0]).hide();
		}
		
		if(!PROCESS.get('EP1')[4]){
			$('#ar'+PROCESS.get('EP1')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP1')[0]).offset().left-30});
		}
		if(!PROCESS.get('EP2')[4] && PROCESS.get('EP1')[4]){
			$('#ar'+PROCESS.get('EP2')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP2')[0]).offset().left-30});
		}
		if(!PROCESS.get('ET1')[4] && PROCESS.get('EP2')[4]){
			$('#ar'+PROCESS.get('ET1')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('ET1')[0]).offset().left-30});
		}
		if(!PROCESS.get('EP3')[4] && PROCESS.get('ET1')[4]){
			$('#ar'+PROCESS.get('EP3')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP3')[0]).offset().left-30});
		}
		if(!PROCESS.get('EP4')[4] && PROCESS.get('EP3')[4]){
			$('#ar'+PROCESS.get('EP4')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP4')[0]).offset().left-30});
		}
		if(!PROCESS.get('EP5')[4] && PROCESS.get('EP4')[4]){
			$('#ar'+PROCESS.get('EP5')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP5')[0]).offset().left-30});
		}
		if(!PROCESS.get('EP6')[4] && PROCESS.get('EP5')[4]){
			$('#ar'+PROCESS.get('EP6')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('EP6')[0]).offset().left-30});
		}
		if(!PROCESS.get('ET2')[4] && PROCESS.get('EP4')[4]){
			$('#ar'+PROCESS.get('ET2')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('ET2')[0]).offset().left-30});
		}
		if(!PROCESS.get('ET3')[4] && PROCESS.get('EP5')[4]){
			$('#ar'+PROCESS.get('ET3')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('ET3')[0]).offset().left-30});
		}
		if(!PROCESS.get('ET4')[4] && PROCESS.get('EP6')[4]){
			$('#ar'+PROCESS.get('ET4')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('ET4')[0]).offset().left-30});
		}
		if(!PROCESS.get('BR')[4] 
			&& PROCESS.get('ET2')[4] && PROCESS.get('ET3')[4] && PROCESS.get('ET4')[4]){
			$('#ar'+PROCESS.get('BR')[0]).show();
			$("#process_flow").animate({scrollLeft:$('#lbl'+PROCESS.get('BR')[0]).offset().left-30});
		}
		
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
}

</script>
<!-- コンテンツ -->
<input type="hidden" id="batch_id" th:value="${BATCH_ID}">
<input type="hidden" id="status_list" th:value="${STATUS_LIST}">
<div class="disopaypanel">

 	<div class="headername"><h4>Instructions</h4></div>
    <!-- 指図一覧 -->
    <div class="tablepanel">
		<table id="tbl1" class="tableArea">
			<thead>
				<tr>
					<th class="th_sticky" style="min-width:150px">Batch ID</th>
					<th class="th_sticky" style="min-width:150px">Protocol</th>
					<th class="th_sticky" style="min-width:150px">Starting Time</th>
					<th class="th_sticky" style="min-width:150px">Finish Time</th>
					<th class="th_sticky" style="min-width:80px">Status</th>
				</tr>
	        </thead>
		</table>
	</div>
    <div class="buttonpanel">
    	<table>
    		<tr>
    			<td style="width:80%;">
    			</td>
    			<td style="width:10%;">
    				<input type="button" id="createbtn" value="Create" class="btn custombtn">
    			</td>
    			<td style="width:10%;">
    				<input type="button" id="releasebtn" value="Release" class="btn custombtn">
    			</td>
    		</tr>
    	</table>
    </div>​
    
	<div id="process_flow" class="pflowpanel">
	<!-- 工程フロー図 -->
	<table>
		<tr>
			<td>
				<div class="square">
					<img id="cmPrecultureKitting" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arPrecultureKitting" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblPrecultureKitting" class="square_label"></label>
					<img id="exPrecultureKitting" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="PrecultureKitting" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1"></div></td>
			<td>
				<div class="square">
					<img id="cmPreculture" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arPreculture" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblPreculture" class="square_label"></label>
					<img id="exPreculture" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="Preculture" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1"></div></td>
			<td>
				<div class="rhombus" style="left:20px;">
					<img id="cmQC1" alt="" class="aicon rhombus_endaicon" src="/images/check_mark.png">
					<img id="arQC1" alt="" class="aicon rhombus_endaicon" src="/images/arrow.png">
					<label id="lblQC1" class="rhombus_label"></label>
					<img id="exQC1" alt="" class="aicon rhombus_divaicon" src="/images/exclamation_mark.png">
					<div id="QC1" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1" style="left:38px;"></div></td>
			<td>
				<div class="square" style="left:40px;">
					<img id="cmExpansionKitting" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arExpansionKitting" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblExpansionKitting" class="square_label"></label>
					<img id="exExpansionKitting" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="ExpansionKitting" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1" style="left:38px;"></div></td>
			<td>
				<div class="square" style="left:40px;">
					<img alt="" class="aicon square_arrow2" src="/images/arrow2.png">
					<img id="cmExpansion" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arExpansion" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblExpansion" class="square_label"></label>
					<img id="exExpansion" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="Expansion" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1" style="left:38px;"></div></td>
			<td>
				<div class="square" style="left:40px;">
					<img alt="" class="aicon square_arrow3" src="/images/arrow3.png">
					<img id="cmBufferExchange" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arBufferExchange" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblBufferExchange" class="square_label"></label>
					<img id="exBufferExchange" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="BufferExchange" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1" style="left:38px;"></div></td>
			<td>
				<div class="square" style="left:40px;">
					<img id="cmFreezing" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arFreezing" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblFreezing" class="square_label"></label>
					<img id="exFreezing" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="Freezing" class="click_div"></div>
				</div>
			</td>
			<td style="width:10px;"><div class="arrow arrow1" style="left:43px;"></div></td>
			<td>
				<table>
					<tr><td style="padding:5px;">
						<div class="rhombus" style="left:60px;">
							<img alt="" class="aicon rhombus_arrow4" src="/images/arrow4.png">
							<img id="cmQC2" alt="" class="aicon rhombus_endaicon" src="/images/check_mark.png">
							<img id="arQC2" alt="" class="aicon rhombus_endaicon" src="/images/arrow.png">
							<label id="lblQC2" class="rhombus_label"></label>
							<img id="exQC2" alt="" class="aicon rhombus_divaicon" src="/images/exclamation_mark.png">
							<div id="QC2" class="click_div"></div>
						</div>
					</td></tr>
					<tr><td style="padding:5px;">
						<div class="rhombus" style="left:60px;">
							<img id="cmQC4" alt="" class="aicon rhombus_endaicon" src="/images/check_mark.png">
							<img id="arQC4" alt="" class="aicon rhombus_endaicon" src="/images/arrow.png">
							<label id="lblQC4" class="rhombus_label"></label>
							<img id="exQC4" alt="" class="aicon rhombus_divaicon" src="/images/exclamation_mark.png">
							<div id="QC4" class="click_div"></div>
						</div>
					</td></tr>
					<tr><td style="padding:5px;">
						<div class="rhombus" style="left:60px;">
							<img alt="" class="aicon rhombus_arrow5" src="/images/arrow5.png">
							<img id="cmQC3" alt="" class="aicon rhombus_endaicon" src="/images/check_mark.png">
							<img id="arQC3" alt="" class="aicon rhombus_endaicon" src="/images/arrow.png">
							<label id="lblQC3" class="rhombus_label"></label>
							<img id="exQC3" alt="" class="aicon rhombus_divaicon" src="/images/exclamation_mark.png">
							<div id="QC3" class="click_div"></div>
						</div>
					</td></tr>
				</table>
			</td>
			<td><div class="arrow arrow1" style="left:75px;"></div></td>
			<td>
				<div class="square" style="left:80px;">
					<img id="cmBatchRelease" alt="" class="aicon square_endaicon" src="/images/check_mark.png">
					<img id="arBatchRelease" alt="" class="aicon square_endaicon" src="/images/arrow.png">
					<label id="lblBatchRelease" class="square_label"></label>
					<img id="exBatchRelease" alt="" class="aicon square_divaicon" src="/images/exclamation_mark.png">
					<div id="BatchRelease" class="click_div"></div>
				</div>
			</td>
		</tr>
	</table>
  </div>
</div>

<!-- 品目ダイアログ  -->
<div id="itemlist" title="Item list">
  <table>
    <tr>
      <th>Please select item.</th>
    </tr>
    <tr>
      <td>
      	<select id="cmbitemlist" name="cmbitemlist">
      		<option></option>
      	</select>
      </td>
    </tr>   
  </table>
  <span class="ui-helper-hidden-accessible"><input type="image"/></span>
</div>
<!-- 指図作成　確認ダイアログ  -->
<div id="create_confirmdialog">
	<label id="create_confirmdialog_label" style="white-space: pre-line;"></label>
	<span class="ui-helper-hidden-accessible"><input type="image"/></span>
</div>
<!-- 指図リリース　確認ダイアログ  -->
<div id="release_confirmdialog">
	<label id="release_confirmdialog_label" style="white-space: pre-line;"></label>
	<span class="ui-helper-hidden-accessible"><input type="image"/></span>
</div>
<!-- 指図詳細　ダイアログ  -->
<div id="detail_dialog">
	<div id="detail" style="height:100%;">
		<ul>
			<li><a href="/instructions_detail">Manufacturing instructions</a></li>
			<li><a href="/proc_instructions">Manufacturing instructions by process</a></li>
		</ul>
	</div>
	<span class="ui-helper-hidden-accessible"><input type="image"/></span>
</div>
