<div th:fragment="body">
<script th:inline="javascript">

var disp_flg = sessionStorage.getItem(['DISP_FLG']);
var no_deviation_color='#b2fff0';
var deviation_color='#ffff00';
var deviation_no_relaese_color='#e99173';
const pmjson = JSON.parse($("#PROCESS_MASTER_json").val());
const wgrpjson = JSON.parse($("#WORK_GROUP_MASTER_json").val());
const wmjson = JSON.parse($("#WORK_MASTER_json").val());
/***********************************
画面初期処理
***********************************/
$(function(){
	
	// ヘッダスタイル変更
	change_header_style(disp_flg);
	
	// 一覧取得
	search();
	
	// キャンセルボタンクリック
	$("#closebtn").click(function(){
		sessionStorage.removeItem('BR_PROCESS_ID');
		sessionStorage.removeItem('BR_WORK_GROUP');
		$('<form/>', {action: $("#RETURN_URL").val(), method: 'post'})
		  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#BATCH_ID").val()}))
		  .appendTo(document.body)
		  .submit();
	});
	
	// Previewボタンクリック
	$("#previewbtn").click(function(){
		// 印刷禁止でPDF表示
	     window.open("pdfjs/web/viewer.html?file=/preview_coa?BATCH_ID="+$("#BATCH_ID").val());
	});
	
	var wgrp1 = "BR01";
	var previewbtn = '#previewbtn';
	var okbtn1 = '#okbtn'+wgrp1;
	var release1 = '#release'+wgrp1;
	var reject1 = '#reject'+wgrp1;
	var reason1 = '#reason'+wgrp1;
	
	// チェックボックスの設定
	$(release1).on("click", function(){
        $(reject1).prop('checked', false);
        $(this).prop('checked', true);
	});
	$(reject1).on("click", function(){
        $(release1).prop('checked', false);
        $(this).prop('checked', true);
	});
	
	// OKボタンクリック時の処理
	$(okbtn1).click(function() {
		
		var CHECK_RESULT = '';
		if($(release1).prop('checked')) CHECK_RESULT='1';
		if($(reject1).prop('checked')) CHECK_RESULT='0';
		
		if(CHECK_RESULT==''){
			alertdialog(MESSAGE.W018);
			return;
		}
		if(CHECK_RESULT=='0' && $(reason1).val()==''){
			alertdialog(MESSAGE.W019);
			return;
		}
		
		confirm_batch_release(wgrp1, "001", CHECK_RESULT, $(reason1).val())
	});
	
	// ステータスチェック
	var args = 
		"?WORK_GROUP="+wgrp1+
		"&WORK_ID=001"+
		"&ID="+$("#BATCH_ID").val();
	$.ajax({
	type: "GET", 
	url: '/ajax/check_status'+args,
	}).done(function(data, dataType) {
		if(data==false){
			setDisabled(okbtn1, true);
			setDisabled(release1, true);
			setDisabled(reject1, true);
			setDisabled(reason1, true);
			setDisabled(previewbtn, true);
		}else{
			setDisabled(okbtn1, false);
			setDisabled(release1, false);
			setDisabled(reject1, false);
			setDisabled(reason1, false);
			setDisabled(previewbtn, false);
		}
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
    // 作業実績取得
	$.ajax({
	type: "GET", 
	url: '/rest/workresult/select'+args,
	}).done(function(data, dataType) {
		var usage_arr = JSON.parse(data);
 	    if(usage_arr.list.length>0){
 	    	// 作業実績が存在する場合
 		    var WORK_RESULT_TABLE = usage_arr.list[0];
 	    	// チェックリストのデータ設定
 			setTextBox(reason1, WORK_RESULT_TABLE.check_REASON);
 			setCheckBoxPassFail(release1, reject1, WORK_RESULT_TABLE.check_RESULT);
 			setDisabled(previewbtn, false);
 	    }
 	    
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
});

/***********************************
作業手順表示
***********************************/
function search(){
	
	// tbodyをクリア
	$("#tbl1 > tbody").html("");
	
	var args = "?BATCH_ID="+$("#BATCH_ID").val();
	
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/instructions/select'+args,
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,INSTRUCTIONS_TABLE){
	    	var tbody = $('<tbody />');
	    	
	        var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.batch_ID));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.protocol));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.starting_TIME));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.finish_TIME));
	        tbody.append(tr1);
	        
	        $('#tbl1').append(tbody);
	        
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	// Deviation Report 非表示
	//$("#devreport_header").hide();
	//$("#devreport_table").hide();
	
	var pre_process = '';
	var pre_wgrp = null;
	const wgrp_list = [];
	// 各工程最後の手順取得
    Object.keys(wgrpjson.list).forEach(function (key) {
    	var WORK_GROUP_MASTER = wgrpjson.list[key];
    	if( pre_process!='' && pre_process!=WORK_GROUP_MASTER.process_ID){
    		wgrp_list.push(pre_wgrp);
    	}
    	pre_process = WORK_GROUP_MASTER.process_ID;
    	pre_wgrp = WORK_GROUP_MASTER;
	});
	
    $.each(wgrp_list,function(i,WORK_GROUP_MASTER){
    	
    	if(WORK_GROUP_MASTER.process_ID=='IS'){
    		var tr_is = $('#br_row1');
    		$(tr_is).empty();
    		
    		// Deviation
    		tr_is.append($('<td/>').text(''));
    		tr_is.css({'background':no_deviation_color});
    		
    		// Process ID
    		tr_is.append($('<td/>').text(WORK_GROUP_MASTER.process_ID));
    		
    		// Process Name
    		var pm = pmjson.list.find((u) => u.process_ID == WORK_GROUP_MASTER.process_ID);
			tr_is.append($('<td/>').text(pm!=null ? pm.process_NAME : ""));
			
			// 指図作成日時取得
		 	var args = 
				"?WORK_GROUP=IS01"+
				"&ID="+$("#BATCH_ID").val();
			$.ajax({
			type: "GET", 
			url: '/rest/workresult/select'+args,
			}).done(function(workresult_is1, dataType) {
				
				var json_is1 = JSON.parse(workresult_is1);
			    $.each(json_is1.list,function(i,WORK_RESULT_TABLE_IS01){
			    	tr_is.append($('<td/>').text(WORK_RESULT_TABLE_IS01.work_USERNAME));	// Performed by	
		    		tr_is.append($('<td/>').text(WORK_RESULT_TABLE_IS01.work_DATE));		// Performed Date
		    		
		    		tr_is.append($('<td/>').text('-'));		// Confirmed by	
		    		tr_is.append($('<td/>').text('-'));		// Confirmed Date	
		    		
		    		// 指図リリース日時取得
		    		var args = 
						"?WORK_GROUP=IS02"+
						"&ID="+$("#BATCH_ID").val();
					$.ajax({
					type: "GET", 
					url: '/rest/workresult/select'+args,
					}).done(function(workresult_is2, dataType) {
						
						var json_is2 = JSON.parse(workresult_is2);
					    $.each(json_is2.list,function(i,WORK_RESULT_TABLE_IS02){
					    	tr_is.append($('<td/>').text(WORK_RESULT_TABLE_IS02.work_USERNAME));	// Approved by	
				    		tr_is.append($('<td/>').text(WORK_RESULT_TABLE_IS02.work_DATE));		// Approved Date	
						});
				 	    
					}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
						console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
					});
					
				});
		 	    
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
			});
    		
    	}
    	
    	// 作業実績取得
	 	var args = 
			"?WORK_GROUP="+WORK_GROUP_MASTER.work_GROUP+
			"&BATCH_ID="+$("#BATCH_ID").val();
		$.ajax({
		type: "GET", 
		url: '/ajax/get_applist'+args,
		}).done(function(data, dataType) {
			
			var tr = $('<tr/>');
			if(WORK_GROUP_MASTER.process_ID=='EP1'){
	    		tr = $('#br_row2');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='EP2'){
	    		tr = $('#br_row3');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='ET1'){
	    		tr = $('#br_row4');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='EP3'){
	    		tr = $('#br_row5');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='EP4'){
	    		tr = $('#br_row6');
	    	}
			
			if(WORK_GROUP_MASTER.process_ID=='ET2'){
	    		tr = $('#qc_row1');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='ET3'){
	    		tr = $('#qc_row2');
	    	}
			if(WORK_GROUP_MASTER.process_ID=='ET4'){
	    		tr = $('#qc_row3');
	    	}
			
			tr.empty();

			// Deviation
			var td_deviation = $('<td/>');
	        // 逸脱チェック
	     	// 作業グループステータス取得
			var args = 
					"?BATCH_ID="+$("#BATCH_ID").val()+
					"&PROCESS_ID="+WORK_GROUP_MASTER.process_ID;
			$.ajax({
			type: "GET", 
			url: '/rest/workgroupstatus/select'+args,
			}).done(function(wgrpdata, wgrpdataType) {
			
				var wgrp_arr = JSON.parse(wgrpdata);
				var diviation_flg = false;
				var no_relaese = false;
				$.each(wgrp_arr.list,function(j,WORK_GROUP_STATUS_TABLE){
					if(WORK_GROUP_STATUS_TABLE.status==wgrp_diviation_status){
						diviation_flg = true;
						if(WORK_GROUP_STATUS_TABLE.batch_RELEASE=='0'){
							no_relaese = true;
						}
					}
				});
				
				if(diviation_flg){
					// 作業グループステータスに１つ以上逸脱があれば
					// 逸脱アイコン表示
					td_deviation.append($("<img></img>", {
			        	  src: "/images/deviation.png",
			        	  addClass: "aicon",
			        	}));
					td_deviation.css({'text-align':'center'});
					
					var div_color = no_relaese ? deviation_no_relaese_color : deviation_color;
					tr.css({'background':div_color,'cursor':'pointer'});
					tr.click(function() {
						select_row(WORK_GROUP_MASTER.process_ID);
		            });
				}else{
					td_deviation.text('');
					tr.css({'background':no_deviation_color,'cursor':'pointer'});
					tr.click(function() {
						sessionStorage.removeItem('BR_PROCESS_ID');
						sessionStorage.removeItem('BR_WORK_GROUP');
						$('<form/>', {action: $("#RETURN_URL").val(), method: 'post'})
						  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#BATCH_ID").val()}))
						  .appendTo(document.body)
						  .submit();
		            });
				}
			
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
			});
		   
        	tr.append(td_deviation);
        	
			// Process ID
			tr.append($('<td/>').text(WORK_GROUP_MASTER.process_ID));
			
			// Process Name
			var pm = pmjson.list.find((u) => u.process_ID == WORK_GROUP_MASTER.process_ID);
			tr.append($('<td/>').text(pm!=null ? pm.process_NAME : ""));
			
			if(data.length>=1){
				WORK_RESULT_TABLE = data[0];
	 		    tr.append($('<td/>').text(WORK_RESULT_TABLE.work_USERNAME));	// Performed by	
	 		    tr.append($('<td/>').text(WORK_RESULT_TABLE.work_DATE));		// Performed Date	
	 	    }else{
	 	    	tr.append($('<td/>').text(''));
	 		    tr.append($('<td/>').text(''));
	 	    }
			if(data.length>=2){
				WORK_RESULT_TABLE = data[1];
				tr.append($('<td/>').text(WORK_RESULT_TABLE.work_USERNAME));	// Confirmed by	
	 		    tr.append($('<td/>').text(WORK_RESULT_TABLE.work_DATE));		// Confirmed Date	
	 	    }else{
	 	    	tr.append($('<td/>').text(''));
	 		    tr.append($('<td/>').text(''));
	 	    }
	 	    if(data.length>=3){
				WORK_RESULT_TABLE = data[2];
				tr.append($('<td/>').text(WORK_RESULT_TABLE.work_USERNAME));	// Approved by	
	 		    tr.append($('<td/>').text(WORK_RESULT_TABLE.work_DATE));		// Approved Date
	 	    }else{
	 	    	tr.append($('<td/>').text(''));
	 		    tr.append($('<td/>').text(''));
	 	    }
			
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
		});
		
	});
	
}
$(window).on('load', function() {
    var BR_PROCESS_ID = sessionStorage.getItem(['BR_PROCESS_ID']);
	if(BR_PROCESS_ID!=null && BR_PROCESS_ID!=''){
		//console.log('BR_BG_COLOR:'+sessionStorage.getItem(['BR_BG_COLOR']));
		select_row(BR_PROCESS_ID);
	}
});

/***********************************
Batch record,QC Test recordの行クリック
***********************************/
function select_row(process_id){
	
	// 選択行の背景色取得
	var bgcolor = "";
	
	// Batch record
	var tbodys1 = $("#tbl2 tbody");
	for( var i=0,l=tbodys1.length;i<l;i++ ){
		var childtr = tbodys1.eq(i).children();
		var childtd = $(childtr).children();
		var pid = $(childtd.eq(1)).text();
		//console.log(pid+":"+childtr.css('background'));
		if(pid==process_id){
			bgcolor = childtr.css('background');
		}
	}
	
	// QC Test record
	var tbodys2 = $("#tbl3 tbody")
	for( var i=0,l=tbodys2.length;i<l;i++ ){
		var childtr = tbodys2.eq(i).children();
		var childtd = $(childtr).children();
		var pid = $(childtd.eq(1)).text();
		//console.log(pid+":"+childtr.css('background'));
		if(pid==process_id){
			bgcolor = childtr.css('background');
		}
	}
	
	if(bgcolor==null || bgcolor==''){
		bgcolor = sessionStorage.getItem(['BR_BG_COLOR']);
	}
	// Deviation Reportのtbodyをクリア
	$("#tbl4 > tbody").html("");

	// 作業グループステータス取得
	var args = 
			"?BATCH_ID="+$("#BATCH_ID").val()+
			"&PROCESS_ID="+process_id;
	$.ajax({
	type: "GET", 
	url: '/rest/workgroupstatus/select'+args,
	}).done(function(wgrpdata, wgrpdataType) {
	
		var wgrp_arr = JSON.parse(wgrpdata);
		$.each(wgrp_arr.list,function(j,WORK_GROUP_STATUS_TABLE){
			
			if(WORK_GROUP_STATUS_TABLE.status==wgrp_diviation_status){
				
				var tbody = $('<tbody />');
				var tr = $('<tr />');
				tr.css({'background':bgcolor,'cursor':'pointer'});
				
				tr.click(function() {
					select_row2(
							WORK_GROUP_STATUS_TABLE.process_ID, 
							WORK_GROUP_STATUS_TABLE.work_GROUP);
	            });
				
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.deviation_NO));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.deviation_DATE));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.reported_DATE));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.reported_BY));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.occurrent_DATE));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.closing_DATE));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.reviewed_DATE));
				tr.append($('<td />').text(WORK_GROUP_STATUS_TABLE.reviewed_BY));
				
				tbody.append(tr);
				
				$('#tbl4').append(tbody);				
			}

		});
		
		// Deviation Report 表示
		$("#devreport_header").show();
		$("#devreport_table").show();
		
		// データ保持
		sessionStorage.setItem(['BR_PROCESS_ID'],[process_id]);
		sessionStorage.setItem(['BR_BG_COLOR'],[bgcolor]);
		
		$("html,body").animate({scrollTop:$("#devreport_header").offset().top});
	
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
}
/***********************************
Deviation Reportの行クリック
***********************************/
function select_row2(process_id, wgrp){
	
	// データ保持
	sessionStorage.setItem(['BR_WORK_GROUP'],[wgrp]);
	
	// 作業手順の画面へ遷移				
	$('<form/>', {action: PROCESS.get(process_id)[2], method: 'post'})
	.append($('<input/>', {type: 'hidden', name: 'PROCESS_ID', value: process_id}))
	.append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#BATCH_ID").val()}))
	.append($('<input/>', {type: 'hidden', name: 'RETURN_URL', value: "/batchrelease"}))
	.appendTo(document.body)
	.submit();
	
}

/***********************************
確認ダイアログ表示
***********************************/
function confirm_batch_release(wgrp, wid, CHECK_RESULT, CHECK_REASON){
	
	var wgrp1 = "BR01";
	var okbtn1 = '#okbtn'+wgrp1;
	var release1 = '#release'+wgrp1;
	var reject1 = '#reject'+wgrp1;
	var reason1 = '#reason'+wgrp1;
	
	$('#confirmdialog').dialog({
		dialogClass:'confirm_dialog',
		modal:true, //モーダル表示
		title:"Confirm", //タイトル
		buttons:[
			{
				text: "OK",
				class:"btn custombtn",
				click: function() {
					// 作業完了処理実行
					endwork("BR",$("#BATCH_ID").val(), wgrp, wid,
							CHECK_RESULT, CHECK_REASON
				 	);
					setDisabled(okbtn1, true);
					setDisabled(release1, true);
					setDisabled(reject1, true);
					setDisabled(reason1, true);
					$(this).dialog("close");
				}
			},
			{
				text: "Cancel",
				class:"btn custombtn",
				click: function() {
					$(this).dialog("close");
				}
			}]
	});
}
</script>
<!-- コンテンツ -->
<input type="hidden" id="WORK_GROUP_JSON" th:value="${WORK_GROUP_JSON}">
<input type="hidden" id="BATCH_ID" th:value="${BATCH_ID}">
<input type="hidden" id="RETURN_URL" th:value="${RETURN_URL}">
<div class="panel_ebr" style="height: 150px;">

 	<div class="headername_ebr"><h4>Batch release</h4></div>
    <!-- ヘッダ -->
    <div class="tablepanel_ebr">
		<table id="tbl1" class="table_ebr">
			<thead>
				<tr>
					<th class="th_ebr" style="min-width:150px">Batch ID</th>
					<th class="th_ebr" style="min-width:150px">Protocol</th>
					<th class="th_ebr" style="min-width:200px">Starting Time</th>
					<th class="th_ebr" style="min-width:200px">Finish Time</th>
				</tr>
	        </thead>
		</table>
	</div>
</div>

<table>
	<tr>
		<td>
			<div style="min-width:50px;"></div>
		</td>
		<td>
			<h4>Batch record</h4>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<table id="tbl2" class="table_ebr">
				<thead>
					<tr>
						<th class="th_ebr" style="min-width:100px">Deviation</th>
						<th class="th_ebr" style="min-width:100px">Process #</th>
						<th class="th_ebr" style="min-width:150px">Process Name</th>
						<th class="th_ebr" style="min-width:100px">Performed by</th>
						<th class="th_ebr" style="min-width:120px">Performed Date</th>
						<th class="th_ebr" style="min-width:100px">Confirmed by</th>
						<th class="th_ebr" style="min-width:120px">Confirmed Date</th>
						<th class="th_ebr" style="min-width:100px">Approved by</th>
						<th class="th_ebr" style="min-width:120px">Approved Date</th>
					</tr>
		        </thead>
		        <tbody><tr id="br_row1"></tr></tbody>
		        <tbody><tr id="br_row2"></tr></tbody>
		        <tbody><tr id="br_row3"></tr></tbody>
		        <tbody><tr id="br_row4"></tr></tbody>
		        <tbody><tr id="br_row5"></tr></tbody>
		        <tbody><tr id="br_row6"></tr></tbody>
			</table>
		</td>
	</tr>
	
	<tr>
		<td>
			<div style="min-height:20px;"></div>
		</td>
	</tr>
	
	<tr>
		<td>
		</td>
		<td>
			<h4>QC Test record</h4>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<table id="tbl3" class="table_ebr">
				<thead>
					<tr>
						<th class="th_ebr" style="min-width:100px">Deviation</th>
						<th class="th_ebr" style="min-width:100px">Process #</th>
						<th class="th_ebr" style="min-width:150px">Process Name</th>
						<th class="th_ebr" style="min-width:100px">Performed by</th>
						<th class="th_ebr" style="min-width:120px">Performed Date</th>
						<th class="th_ebr" style="min-width:100px">Confirmed by</th>
						<th class="th_ebr" style="min-width:120px">Confirmed Date</th>
						<th class="th_ebr" style="min-width:100px">Approved by</th>
						<th class="th_ebr" style="min-width:120px">Approved Date</th>
					</tr>
		        </thead>
		        <tbody><tr id="qc_row1"></tr></tbody>
		        <tbody><tr id="qc_row2"></tr></tbody>
		        <tbody><tr id="qc_row3"></tr></tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
		   Certificate of analysis：
		   <input type="button" id="previewbtn" value="Preview" class="btn custombtn">
		</td>
	</tr>
	
	<tr>
		<td>
			<div style="min-height:20px;"></div>
		</td>
	</tr>
	
	<tr id="devreport_header">
		<td>
		</td>
		<td>
			<h4>Deviation Report</h4>
		</td>
	</tr>
	<tr id="devreport_table">
		<td>
		</td>
		<td>
			<table id="tbl4" class="table_ebr">
				<thead>
					<tr>
						<th class="th_ebr" style="min-width:120px">Deviation #</th>
						<th class="th_ebr" style="min-width:120px">Deviation Date</th>
						<th class="th_ebr" style="min-width:120px">Reported Date</th>
						<th class="th_ebr" style="min-width:145px">Reported by</th>
						<th class="th_ebr" style="min-width:120px">Occurrent Date</th>
						<th class="th_ebr" style="min-width:120px">Closing Date</th>
						<th class="th_ebr" style="min-width:120px">Reviewed Date</th>
						<th class="th_ebr" style="min-width:145px">Reviewed by</th>
					</tr>
		        </thead>
			</table>
		</td>
	</tr>
	
	<tr>
		<td>
			<div style="min-height:20px;"></div>
		</td>
	</tr>
	
	<tr id="judgement1_header">
		<td>
		</td>
		<td>
			<h4>Judgment</h4>
		</td>
	</tr>
	<tr id="judgement1_check" class="br_checkbox">
		<td>
		</td>
		<td>
			<table>
				<tr>
					<td>
						<label>Result</label>
					</td>
					<td>
						<div style="min-width:20px;"></div>
					</td>
					<td>
						<label>
							<input type="checkbox" id="releaseBR01">
							Release
						</label>
					</td>
					<td>
						<div style="min-width:20px;"></div>
					</td>
					<td>
						<label>
							<input type="checkbox" id="rejectBR01">
							Reject
						</label>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr id="judgement1_reason" class="br_reaoson">
		<td>
		</td>
		<td>
			<table>
				<tr>
					<td>
					<label>
						Reason
					</label>
					</td>
					<td>
						<div style="min-width:20px;"></div>
					</td>
					<td>
						<input type="text" id="reasonBR01" >
					</td>
					<td>
						<div style="min-width:20px;"></div>
					</td>
					<td>
						<!-- 処理 -->
						<input type="button" id="okbtnBR01" value="OK" 
							class="btn custombtn" style="width:100px;">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
</table>

<div>
 <table style="width:100%;">
  <tr><td>
	 <div style="height: 50px;"></div>
  <td></tr>
  <tr style="text-align: right;"><td>
   <input type="button" id="closebtn" value="Close" class="btn custombtn fixed_btn">
  <td></tr>
 </table>
</div>
    
</div>
<div th:insert="common/menu::paramset('__${BATCH_ID}__')"></div>