<div th:fragment="paramset(wgrp)" th:remove="tag">
<script>
$(function(){
	
	var wgrp = /*[[${wgrp}]]*/ '';
	
	var btnPrebatch = '#btnPrebatch'+wgrp;
	var btnBatchprogress = '#btnBatchprogress'+wgrp;
	var btnPostbatch = '#btnPostbatch'+wgrp;
	
	var Cellqualia_top_autrans = "";	// 自動遷移間隔
	var imgPath = "";					// 画像パス

    // Cellqualia top情報取得
	$.ajax({
	    type: "GET", 
	    url: '/ajax/get_cellqualia_top',
	}).done(function(data, dataType) {
	    Cellqualia_top_autrans = data.CELLQUALIA_TOP_AUTOTRANS;
	    imgPath = data.CELLQUALIA_TOP_PATH;

		// 画像設定
	    $("#imgCQtop_logo"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_LOGO);

	    $("imgCQtop_1_1"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_MACHINE_STATUS_SUMMARY);
	    $("imgCQtop_1_2"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_TOP);
	    $("imgCQtop_1_3"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_FINISHED);
	    $("imgCQtop_1_4"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_ALARMS);
	    $("imgCQtop_1_5"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_MAINTENANCE);

	    $("imgCQtop_2_1"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_PRE_BATCH);
	    $("imgCQtop_2_2"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_BATCH_PROGRESS);
	    $("imgCQtop_2_3"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_POST_BATCH_STANDALONE);
	    $("imgCQtop_2_4"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_POST_BATCH_ENTERPRISE);

	    $("imgCQtop_3_1"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_BATCH_LIST);
	    $("imgCQtop_3_2"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_DELIVERY);
	    $("imgCQtop_3_3"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_COSTS);
	    $("imgCQtop_3_4"+wgrp).attr("src", "data:image/;base64,"+imgPath+data.CELLQUALIA_TOP_LOG_ANALYSIS);

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
	if(Cellqualia_top_autrans!==""){
		// 自動遷移間隔が設定されている場合
		setTimeout(function(){
			// 設定時間待機後に自動遷移する
			
			// 遷移先はパラメータで判定？
			
			// 自分を閉じる？
          }, Cellqualia_top_autrans*1000);
	}else{
		// 自動遷移間隔が設定されていない場合
		// 遷移先はパラメータで判定？hrefを全部設定してよい？
		$(btnPrebatch).prop("href","/pre_batch_over_view");
		$(btnBatchprogress).prop("href","/batch_progress");
		$(btnPostbatch).prop("href","/post_batch_over_view");
	}
	
	// Prebatchクリック時の処理
	$(btnPrebatch).click(function() {
		if(Cellqualia_top_autrans==""){
			// Pre-batch overview画面に遷移する
			alertdialog('Pre-batch overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnPrebatch).prop("href","/pre_batch_over_view");
		}
	})
	
	// Batchprogressクリック時の処理
	$(btnBatchprogress).click(function() {
		if(Cellqualia_top_autrans==""){
			// Batch progress overview画面に遷移する
			alertdialog('Batch progress overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnBatchprogress).prop("href","/batch_progress");
		}
	})
	
	// Postbatchクリック時の処理
	$(btnPostbatch).click(function() {
		if(Cellqualia_top_autrans==""){
			// Post-batch overview画面に遷移する
			alertdialog('Post-batch overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnPostbatch).prop("href","/post_batch_over_view");
		}
	})

});
</script>

<img alt="" class="aicon" src="/images/cellqulia_top.png" style="width:100%; height: 100%">

<table>
<tr>
	<td colspan="3"><img th:id="'imgCQtop_logo'+${wgrp}" alt="LOGO" class="aicon" style="width:100%; height: 100%"></td>
</tr>
<tr>
	<td>
	<img th:id="'imgCQtop_1_1'+${wgrp}" alt="MACHINE_STATUS_SUMMARY" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_1_2'+${wgrp}" alt="TOP" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_1_3'+${wgrp}" alt="FINISHED" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_1_4'+${wgrp}" alt="ALARMS" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_1_5'+${wgrp}" alt="MAINTENANCE" class="aicon" style="width:100%; height: 100%">
	</td>
	<td>
	<a href="#" th:id="'btnPrebatch'+${wgrp}"><img th:id="'imgCQtop_2_1'+${wgrp}" alt="PRE_BATCH" class="aicon" style="width:100%; height: 100%"></a>
	<a href="#" th:id="'btnBatchprogress'+${wgrp}"><img th:id="'imgCQtop_2_2'+${wgrp}" alt="BATCH_PROGRESS" class="aicon" style="width:100%; height: 100%"></a>
	<a href="#" th:id="'btnPostbatch'+${wgrp}"><img th:id="'imgCQtop_2_3'+${wgrp}" alt="POST_BATCH_STANDALONE" class="aicon" style="width:100%; height: 100%"></a>
	<img th:id="'imgCQtop_2_4'+${wgrp}" alt="POST_BATCH_ENTERPRISE" class="aicon" style="width:100%; height: 100%">
	</td>
	<td>
	<img th:id="'imgCQtop_3_1'+${wgrp}" alt="BATCH_LIST" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_3_2'+${wgrp}" alt="DELIVERY" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_3_3'+${wgrp}" alt="COSTS" class="aicon" style="width:100%; height: 100%">
	<img th:id="'imgCQtop_3_4'+${wgrp}" alt="LOG_ANALYSIS" class="aicon" style="width:100%; height: 100%">
	</td>
</tr>
</table>

</div>
