<div th:fragment="paramset(wgrp)" th:remove="tag">
<script>
$(function(){
	
	var wgrp = /*[[${wgrp}]]*/ '';
	
	var btnPrebatch = '#btnPrebatch'+wgrp;
	var btnBatchprogress = '#btnBatchprogress'+wgrp;
	var btnPostbatch = '#btnPostbatch'+wgrp;
	
	if(CELLQUALIA_TOP_AUTOTRANS!==null){
		// 自動遷移間隔が設定されている場合
		setTimeout(function(){
			// 設定時間待機後に自動遷移する
			
			// 遷移先はパラメータで判定？
			
			// 自分を閉じる？
          }, CELLQUALIA_TOP_AUTOTRANS*1000);
	}else{
		// 自動遷移間隔が設定されていない場合
		// 遷移先はパラメータで判定？hrefを全部設定してよい？
		$(btnPrebatch).prop("href","/pre_batch_over_view");
		$(btnBatchprogress).prop("href","/batch_progress");
		$(btnPostbatch).prop("href","/post_batch_over_view");
	}
	
	// Prebatchクリック時の処理
	$(btnPrebatch).click(function() {
		if(CELLQUALIA_TOP_AUTOTRANS==null){
			// Pre-batch overview画面に遷移する
			alertdialog('Pre-batch overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnPrebatch).prop("href","/pre_batch_over_view");
		}
	})
	
	// Batchprogressクリック時の処理
	$(btnBatchprogress).click(function() {
		if(CELLQUALIA_TOP_AUTOTRANS==null){
			// Batch progress overview画面に遷移する
			alertdialog('Batch progress overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnBatchprogress).prop("href","/batch_progress");
		}
	})
	
	// Postbatchクリック時の処理
	$(btnPostbatch).click(function() {
		if(CELLQUALIA_TOP_AUTOTRANS==null){
			// Post-batch overview画面に遷移する
			alertdialog('Post-batch overview画面に遷移する');
			// 何かパラメータを設定する？
			//$(btnPostbatch).prop("href","/post_batch_over_view");
		}
	})

});
</script>

<img alt="" class="aicon" src="/images/cellqulia_top.png" style="width:100%; height: 100%">

<table>
<tr>
	<td colspan="3"><img alt="LOGO" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_LOGO style="width:100%; height: 100%"></td>
</tr>
<tr>
	<td>
	<img alt="MACHINE_STATUS_SUMMARY" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_MACHINE_STATUS_SUMMARY style="width:100%; height: 100%">
	<img alt="TOP" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_TOP style="width:100%; height: 100%">
	<img alt="FINISHED" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_FINISHED style="width:100%; height: 100%">
	<img alt="ALARMS" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_ALARMS style="width:100%; height: 100%">
	<img alt="MAINTENANCE" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_MAINTENANCE style="width:100%; height: 100%">
	</td>
	<td>
	<a href="#" th:id="'btnPrebatch'+${wgrp}"><img alt="PRE_BATCH" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_PRE_BATCH style="width:100%; height: 100%"></a>
	<a href="#" th:id="'btnBatchprogress'+${wgrp}"><img alt="BATCH_PROGRESS" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_BATCH_PROGRESS style="width:100%; height: 100%"></a>
	<a href="#" th:id="'btnPostbatch'+${wgrp}"><img alt="POST_BATCH_STANDALONE" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_POST_BATCH_STANDALONE style="width:100%; height: 100%"></a>
	<img alt="POST_BATCH_ENTERPRISE" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_POST_BATCH_ENTERPRISE style="width:100%; height: 100%">
	</td>
	<td>
	<img alt="BATCH_LIST" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_BATCH_LIST style="width:100%; height: 100%">
	<img alt="DELIVERY" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_DELIVERY style="width:100%; height: 100%">
	<img alt="COSTS" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_COSTS style="width:100%; height: 100%">
	<img alt="LOG_ANALYSIS" class="aicon" src=CELLQUALIA_TOP_PATH+CELLQUALIA_TOP_LOG_ANALYSIS style="width:100%; height: 100%">
	</td>
</tr>
</table>

</div>
