<div th:fragment="body">
<script th:inline="javascript">

var disp_flg = sessionStorage.getItem(['DISP_FLG']);
const pmjson = JSON.parse($("#PROCESS_MASTER_json").val());
const wgrpjson = JSON.parse($("#WORK_GROUP_MASTER_json").val());
const wmjson = JSON.parse($("#WORK_MASTER_json").val());
/***********************************
画面初期処理
***********************************/
$(function(){
	
	// ヘッダスタイル変更
	change_header_style(disp_flg);
	
	// 一覧取得
	search();
	
	// キャンセルボタンクリック
	$("#closebtn").click(function(){
		sessionStorage.removeItem('BR_WORK_GROUP');
		$('<form/>', {action: $("#RETURN_URL").val(), method: 'post'})
		  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#BATCH_ID").val()}))
		  .appendTo(document.body)
		  .submit();
	});
	
});

/***********************************
作業手順表示
***********************************/
function search(){
	
	// tbodyをクリア
	$("#tbl1 > tbody").html("");
	
	var args = "?BATCH_ID="+$("#BATCH_ID").val();
	
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/instructions/select'+args,
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,INSTRUCTIONS_TABLE){
	    	var tbody = $('<tbody />');
	    	
	        var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.batch_ID));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.protocol));
	        var pm = pmjson.list.find((u) => u.process_ID == $("#PROCESS_ID").val());
			tr1.append($('<td/>').text(pm.process_NAME));

	        tbody.append(tr1);
	        
	        $('#tbl1').append(tbody);
	        
	     	// 作業手順再表示			
			refrech_work();
	     	
	     	// Batch release画面から遷移した場合
	     	// 逸脱の作業グループをトップに表示する
			var BR_WORK_GROUP = sessionStorage.getItem(['BR_WORK_GROUP']);
			if(BR_WORK_GROUP!=null && BR_WORK_GROUP!=''){
				$("html,body").animate({scrollTop:$("#tr_header"+BR_WORK_GROUP).offset().top-100});
			}
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
}

/***********************************
作業手順グループ再表示
***********************************/
function refrech_work(){
	const work_group_json = JSON.parse($("#WORK_GROUP_JSON").val());
	Object.keys(work_group_json).forEach(function (key) {
		WORK_GROUP = work_group_json[key];
		var setwork = 'setwork'+WORK_GROUP.work_GROUP;
		// 各作業グループのセットボタン押下
		$('#setbtn'+WORK_GROUP.work_GROUP).trigger('click');
	});
}

/***********************************
確認ダイアログ表示
***********************************/
function confirm_manufacturing(
		wgp, wid, label, count_result, material_check_list,
		CHECK_RESULT, CHECK_REASON){
	$('#confirmdialog').dialog({
		dialogClass:'confirm_dialog',
		modal:true, //モーダル表示
		title:"Confirm", //タイトル
		buttons:[
			{
				text: "OK",
				class:"btn custombtn",
				click: function() {
					if(material_check_list!=null){
						// マテリアルチェックリストがNULLでない場合
						// マテリアルチェック登録処理実行
						endwork_registMCT(
								$("#PROCESS_ID").val(),$("#BATCH_ID").val(),wgp, wid,
								material_check_list
					 	);
					}else{
						// 作業完了処理実行
						endwork($("#PROCESS_ID").val(),$("#BATCH_ID").val(),wgp, wid,
								CHECK_RESULT, CHECK_REASON,null,null,
								label,count_result
					 	);
					}
					$(this).dialog("close");
				}
			},
			{
				text: "Cancel",
				class:"btn custombtn",
				click: function() {
					$(this).dialog("close");
				}
			}]
	});
}

</script>
<!-- コンテンツ -->
<input type="hidden" id="WORK_GROUP_JSON" th:value="${WORK_GROUP_JSON}">
<input type="hidden" id="BATCH_ID" th:value="${BATCH_ID}">
<input type="hidden" id="PROCESS_ID" th:value="${PROCESS_ID}">
<input type="hidden" id="RETURN_URL" th:value="${RETURN_URL}">
<input type="hidden" id="BARCODE_READER" th:value="${BARCODE_READER}">

<div class="panel_ebr">

 	<div class="headername_ebr"><h4>EBR Manufacturing</h4></div>
    <!-- ヘッダ -->
    <div class="tablepanel_ebr">
		<table id="tbl1" class="table_ebr">
			<thead>
				<tr>
					<th class="th_ebr" style="min-width:150px">Batch ID</th>
					<th class="th_ebr" style="min-width:150px">Protocol</th>
					<th class="th_ebr" style="min-width:300px">Process</th>
				</tr>
	        </thead>
		</table>
	</div>
    <div class="workpanel_ebr">
	    <table style="width:100%;">
		    <tr><td id="work_list">
	    		<div th:each="map : ${WORK_GROUP_MAP}">
	    			<div th:insert="workgroup/work__${map.getValue().DISPLAY_TYPE}__::paramset('__${map.getValue().WORK_GROUP}__')"></div>
				</div>
		    <td></tr>
		    <tr><td>
	    		<div style="height: 50px;"></div>
		    <td></tr>
		    <tr style="text-align: right;"><td>
			    <input type="button" id="closebtn" value="Close" class="btn custombtn fixed_btn">
		    <td></tr>
	    </table>
    </div>​
    
  </div>
</div>
<div th:insert="common/menu::paramset('__${BATCH_ID}__')"></div>
