@charset "UTF-8";

/*********************************
  ヘッダ 
*********************************/
/* HOME */
.header_home {
	background    : #6683a7;
	color         : white;
}
/* Inventory control */
.header_ic {
	background    : #eb974e;
	color         : white;
}
/* Manufacturing */
.header_mf {
	background    : #adc55a;
	color         : white;
}
/* Quality control */
.header_qc {
	background    : #af7ac4;
	color         : white;
}
/* Review */
.header_rv {
	background    : #3498db;
	color         : white;
}

/*********************************
  ヘッダ ハンバーガーメニュ
*********************************/
.hamberger{
    display: block;
    width: 50px;/*枠の大きさ*/
    height: 50px;/*枠の大きさ*/
    position: relative;
    cursor: pointer;
}
.hamberger hr{
    display: block;
    margin: 0;
    border: none;
    width: 50%;/*バツ線の長さ*/
    height: 4px;/*バツ線の太さ*/
    background: white;
    transform-origin:0% 50%;
    position: absolute;
    top: 12px;
    left: 25%;
    transition: .3s;
}
.hamberger hr:nth-of-type(2){
    top: 22px;
}
.hamberger hr:nth-of-type(3){
    top: 32px;
}
.close hr{
    left: 30%;        
}
.close hr:nth-of-type(1){
    transform: rotate(45deg);
    width: 55%;
}
.close hr:nth-of-type(2){
    opacity: 0;
}
.close hr:nth-of-type(3){
    top: 32px;
    transform: rotate(-45deg);
    width: 55%;
}
.hamberger_menu {
  display:none;
  position: fixed;
  z-index: 10;
  top: 40px;
  right: 20px;
  background: white;
}
.hamberger_menu li {
  position: relative;
  left: 0;
}

/*********************************
  ダイアログ
*********************************/

/*確認ダイアログ*/
.confirm_dialog .ui-dialog-titlebar {
    color:white;
    background:#6495ed;
}
/*警告ダイアログ*/
.alertdialog .ui-dialog-titlebar {
    color:red;
    background:#fffacd;
}
/*エラーダイアログ*/
.error_dialog .ui-dialog-titlebar {
    color:red;
    background:#ffc0cb;
}

/*********************************
 ボタン
*********************************/
.loginbtn {
	background    : #008080;
	color         : white;
	width         : 100px;
}
.btn.custombtn{
	background:#6683a7;
	color:#fff;
	transition: 0s;
}
.btn.custombtn:hover{
	background:#191970;
	color:#fff;
	transition: 0s;
}
.fixed_btn
{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 6px 20px;
}
/*********************************
 HOME
*********************************/
.home {
  margin:auto;
  position: relative;
  top: 100px;
}

/*********************************
 指図一覧、受入一覧　共通
*********************************/
/* 一覧テーブル全体 */
.tableArea {
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */ 
  display        : block;
  overflow-y     : scroll;
  height         : 300px;
  border         : 1px solid;
}

 /* 一覧テーブル ヘッダ */
.th_sticky {
	content: "";
    position      : sticky;
    top           : 0px;
    z-index       : 1;
    background    : #1e90ff;
    text-align    : center;            /* 文字位置  */
    padding       : 5px;               /* 余白      */
    border        : 1px #666666 solid; /* 罫線      */
    background    : #99b9d7;           /* 背景色    */
    color         : white;           /* フォントの色 */
}
.th_sticky::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px #666666 solid;
    padding       : 5px;
}
.th_sticky2 {
	content: "";
    position      : sticky;
    top           : 1.45rem;
    z-index       : 1;
    background    : #1e90ff;    
    text-align    : center;            /* 文字位置  */
    padding       : 5px;               /* 余白      */
    border        : 1px #666666 solid; /* 罫線      */
    background    : #99b9d7;           /* 背景色    */
    color         : white;           /* フォントの色 */
}
.th_sticky2::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px #666666 solid;
    padding       : 5px;
}
/* 一覧テーブル 明細 */
.tableArea td {
  padding       : 5px;                 /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  cursor        : pointer;             /* カーソル  */
  text-align    : left;
}

/*********************************
 受入一覧
*********************************/
/* 画面全体 */
.panel_accept {
  position: relative;
  width:100%;
}
/*ヘッダ名*/
.headername_accept {
  position: absolute;
  top:60px;
  width:100%;
  text-align: center;
}
.tablepanel_accept {
  position: absolute;
  top:100px;
  width:100%;
  display: flex;
  justify-content: center;
}
.workpanel_accept {
  position: absolute;
  top:410px;
  width:100%;
  display: flex;
  justify-content: left;
}

/*********************************
 指図一覧
*********************************/
/* 画面全体 */
.disopaypanel {
  position: relative;
  width:100%;
}
/*ヘッダ名*/
.headername {
  position: absolute;
  top:60px;
  width:100%;
  text-align: center;
}
.tablepanel {
  position: absolute;
  top:100px;
  width:100%;
  display: flex;
  justify-content: center;
}
.buttonpanel {
  position: absolute;
  top:410px;
  width:80%;
  display: flex;
  justify-content: right;
}
.pflowpanel {
  position: absolute;
  top:480px;
  width:100%;
  height:280px;
  overflow-x: scroll;
}


/*********************************
 作業グループ
*********************************/
/*作業グループ全体*/
.proc{
	width:100%;
}
/*作業グループヘッダ*/
.wgrpheader{
	background:#004f9b;
	color: white;
	width:100%;
}
/*作業手順ヘッダ(作業グループ名)の設定*/
.workheader_wgrp{
	position: relative;
	width:100%;
	text-align: left;
	left: 20px;
}
/*作業手順ヘッダ(矢印)の設定*/
.workheader_arrow{
	position: relative;
	width:100%;
	text-align: right;
	right: 0px;
}

/*作業グループ 作業手順*/
.wgrpwork{
	border: 1px solid black;
    width:100%;
}

/*作業手順明細の設定*/
.worktable{
    width:95%;
    border: 1px solid black;
    background    : #e1f4ff;
}
.worktable td{
    white-space: pre-line;
}
/*作業手順明細の設定*/
.checklist{
    width:95%;
    border: 1px solid black;
}
/*チェックリスト：ヘッダ*/
.checklistheader{
	position: relative;
    text-align: left;
	left: 0px;
    background    : #92d050;
    color         : white;
}
/*チェックリスト明細の設定*/
.checklistcontens{
    width:90%;
    border: 1px solid black;
    background    : #d7ffaf;
    position: relative;
    text-align: left;
	left: 10px;
}
/*チェックリスト：チェックボックス*/
.checklistcheckbox{
    position: relative;
    text-align: left;
	left: 20px;
}
.checklistcheckbox input[type=checkbox] {
	width:			14px;
	height:			14px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}
/*チェックリスト：理由*/
.checklistreaoson{
    position: relative;
    text-align: left;
	left: 20px;
}
.checklistreaoson input[type=text] {
	width:600px;
}
/*チェックリスト：添付ファイル*/
.checklistfile{
	text-align: left;
    width:600px;
}

/*承認：ヘッダ*/
.approvalheader{
    position: relative;
    text-align: left;
	left: 10px;
	font-size: 16pt;
	color : #002060;
}
/*承認：一覧*/
.approvallist{
  position: relative;
  left: 10px;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  border : 1px solid;
}
.approvallist th{
    text-align: center;
	font-size: 12pt;
	padding       : 5px;               /* 余白      */
    border        : 1px #666666 solid; /* 罫線      */
    width : 150px;
    background : #f2f2f2;
}
.approvallist td{
    text-align: center;
	font-size: 10pt;
	border : 1px solid;
	padding       : 5px;               /* 余白      */
    border        : 1px #666666 solid; /* 罫線      */
}



/*********************************
  工程フロー図
*********************************/

/* アイコン */
.aicon {
	width:20px;
	height:20px;
}

/* ひし形*/
.rhombus{
	width: 60px;
	height: 60px;
	transform: rotate(-45deg) skew(10deg, 10deg);
	border: 2px solid #000;
	box-sizing: border-box;
	position: relative;
}
/* ひし形工程フロー図 完了/仕掛アイコン*/
.rhombus_endaicon{
	transform: skew(-10deg, -10deg) rotate(45deg);
	position: absolute;
    top: 0px;
    left: 0px;
    display:none;
}
/* ひし形 ラベル*/
.rhombus_label{
	transform: skew(-10deg, -10deg) rotate(45deg);
	position: absolute;
    top: 15px;
    left:15px;
    font-size:10pt;
}
/* ひし形 逸脱アイコン*/
.rhombus_divaicon{
	transform: skew(-10deg, -10deg) rotate(45deg);
	position: absolute;
    top: 35px;
    right: 0px;
    display:none;
}
/* ひし形 上側結合線*/
.rhombus_arrow4{
  transform: skew(-10deg, -10deg) rotate(45deg);
  position:absolute;
  top:80px;
  left:28px;
  width:90px;
  height:45px;
}
/* ひし形 下側結合線*/
.rhombus_arrow5{
  transform: skew(-10deg, -10deg) rotate(45deg);
  position:absolute;
  top:50px;
  left:55px;
  width:90px;
  height:45px;
}

/* 長方形 */
.square{
	width: 120px;
	height: 60px;
	border: 2px solid #000;
	box-sizing: border-box;
	position: relative;
	text-align:center;
}
/* 長方形 完了/仕掛アイコン */
.square_endaicon{
	position: absolute;
	top:20px;
    left: 0px;
    display:none;
}
/* 長方形 ラベル */
.square_label{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-width:90%;
  font-size:10pt;
}
/* 長方形 逸脱アイコン */
.square_divaicon{
	position: absolute;
	top:20px;
    right: 0px;
    display:none;
}
/* 長方形 直列接続矢印 */
.square_arrow{
  position:absolute;
  top:25%;
  right:-20px;
}
/* 長方形 上側分岐線 */
.square_arrow2{
  position:absolute;
  top:-55px;
  left:55px;
  width:350px;
  height:53px;
}
/* 長方形 下側分岐線 */
.square_arrow3{
  position:absolute;
  top:58px;
  left:55px;
  width:220px;
  height:50px;
}
/* 　次工程への矢印 */
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 5px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.arrow1::before{
    left: 4px;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    border: 6px solid transparent;
    border-left: 6px solid #000000;
}
.arrow1::after{
    left: 0;
    width: 6px;
    height: 6px;
    border-left: 6px solid #000000;
}

/* クリック用 */
.click_div{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/*********************************
 EBR製造、EBR試験
*********************************/
/* 画面全体 */
.panel_ebr {
  position: relative;
  width:100%;
}
/*ヘッダ名*/
.headername_ebr {
  position: absolute;
  top:60px;
  width:100%;
  text-align: center;
}
.tablepanel_ebr {
  position: absolute;
  top:100px;
  width:100%;
  display: flex;
  justify-content: center;
}
.workpanel_ebr {
  position: absolute;
  top:200px;
  width:100%;
  display: flex;
  justify-content: right;
}

/* 一覧テーブル全体 */
.table_ebr {
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */ 
  border         : 1px solid;
}

 /* 一覧テーブル ヘッダ */
.th_ebr {
	content: "";
    background    : #1e90ff;
    text-align    : center;            /* 文字位置  */
    padding       : 5px;               /* 余白      */
    border        : 1px #666666 solid; /* 罫線      */
    background    : #99b9d7;           /* 背景色    */
    color         : white;           /* フォントの色 */
}
/* 一覧テーブル 明細 */
.table_ebr td {
  padding       : 5px;                 /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  text-align    : left;
}
/* マテリアル一覧テーブル全体 */
.mtableArea {
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */ 
  display        : block;
  overflow-y     : scroll;
  height         : 150px;
  border         : 1px solid;
}
/* マテリアル一覧テーブル 明細 */
.mtableArea td {
  padding       : 5px;                 /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  text-align    : left;
}

/* CSVテーブル全体 */
.csvtbl {
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */ 
  display        : block;
  overflow       : none;
  height         : 150px;
  border         : 1px;
}
/* CSVテーブル 明細 */
.csvtbl td {
  padding       : 5px;               /* 余白      */
  border        : 1px black solid;   /* 罫線      */
  text-align    : left;
}
/* CSVテーブル ヘッダ */
.th_csvtbl {
  content: "";
  text-align    : center;            /* 文字位置  */
  padding       : 5px;               /* 余白      */
  border        : 1px black solid;   /* 罫線      */
  background    : #cccccc;           /* 背景色    */
  color         : black;             /* フォントの色 */
}	
/* CSVテーブル テキスト */
.txt_csvtbl {
  text-align    : right;             /* 文字位置  */
  border-style  : none;              /* 罫線      */
}

/* 指図詳細テーブル全体 */
.insdetailArea {
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */ 
  display        : block;
  overflow-y     : scroll;
  border         : 1px solid;
  position       : absolute;
  width          : 100%;
  display        : flex;
  justify-content: center;
}
/* 指図詳細テーブル ヘッダ */
.insdetailArea th {
  padding       : 5px;               /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  text-align    : left;
}
/* 指図詳細テーブル 明細 */
.insdetailArea td {
  padding       : 5px;               /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  text-align    : left;
}
/* 工程別指図 ヘッダリスト */
.proc_list_header {
  position       : absolute;
  width          : 100%;
  display        : flex;
  justify-content: center;
}
.proc_list_header li:nth-of-type(1){
	display: inline;
	margin-right : 20px;
}
.proc_list_header li:nth-of-type(2){
	display: inline;
	margin-left : 20px;
	margin-right : 20px;
}
.proc_list_header li:nth-of-type(3){
	display: inline;
	margin-left : 20px;
}
.proc_list_header a{
	color:blue;
}
.proc_list_header label{
	color:blue;
}
/* 工程別指図 CellQualia */
.cellqualia_list_oya {
  position       : relative;
}
.cellqualia_list {
  position       : absolute;
  background    : white;
  z-index		: 2;
  width			: 150px;
}
.cellqualia_list a{
	color:blue;
}
.cellqualia_list li{
	position	: absolute;
	background	: white;
	width		: 100px;
}
.cellqualia_list li:nth-of-type(1){
	top		: 0px;
	left	: 20px;
}
.cellqualia_list li:nth-of-type(2){
	top		: 20px;
	left	: 0px;
}
.cellqualia_list li:nth-of-type(3){
	top		: 40px;
	left	: 0px;
}

/* Kitting,Expansion時のバーコード読込用テキスト（バーコードありの場合) */
.barcode_reader_on{
	width:0px;
	height:0px;
	position: absolute;
	top:20px;
	right:50px;
	z-index:-10;
}
.barcode_reader_off{
	width:300px;
}

/*********************************
 Batch release
*********************************/
/*チェックリスト：チェックボックス*/
.br_checkbox{
    text-align: left;
	left: 20px;
}
.br_checkbox input[type=checkbox] {
	width:			14px;
	height:			14px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}
/*チェックリスト：理由*/
.br_reaoson{
    text-align: left;
	left: 20px;
}
.br_reaoson input[type=text] {
	width:600px;
}
/*********************************
 Batch progress
*********************************/
/* グラフタイトル */
.chart_title {
  position: absolute;
  top:0px;
  left:10px;
}
/* グラフX軸凡例 */
.chart_xlable {
  position: absolute;
  top:270px;
  left:250px;
}
/* グラフY軸凡例 */
.chart_ylable {
  position: absolute;
  left:10px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

/* テーブル(横線のみ) */
.batchprogresstable {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.batchprogresstable th {
  text-align    : center;
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 10pt;
  word-break : break-all;
}
.batchprogresstable td {
  text-align    : left;
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 9pt;
  word-break : break-all;
}
.batchprogresstable a {
  text-decoration: underline;
}

/* テーブル(縦線のみ) */
.batchprogresstable2 {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.batchprogresstable2 th {
  text-align    : left;
  border-width: 0px 1px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 10pt;
}
.batchprogresstable2 td {
  text-align    : left;
  border-width: 0px 1px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 14pt;
}

/* テーブル(Camera vision) */
.batchprogresstable3 {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.batchprogresstable3 th {
  text-align    : center;
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 10pt;
}
.batchprogresstable3 td {
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 9pt;
}

/* テーブルの外枠 */
.batchprogressdiv {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.batchprogressdiv label {
  font-size      : 10pt;
}

/*********************************
 Post batch overview
*********************************/
.postbatchdiv {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.postbatchdiv label:first-child {
  font-size      : 8pt;
}
.postbatchdiv a {
  text-decoration: underline;
}

/*********************************
 CellQualia Top
*********************************/
.cellqualiadiv {
  display:flex;
  border: 4px solid #26823f;
  width:1100px;
}
.cellqualiadiv a {
  text-decoration: underline;
}

.cellqualia_childdiv1 {
  border: 3px solid #26823f;
  width:340px;
  position: relative;
}
.cellqualia_childdiv2 {
  border: 3px solid #26823f;
  width:415px;
  position: relative;
}
.cellqualia_childaicon {
  position: absolute;
}
/* テーブル(横線のみ) */
.cellqualiatable {
  border-collapse: collapse;         /* 境界線結合 */
  border         : 1px solid #c0c0c0;
}
.cellqualiatable th {
  text-align    : center;
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 8pt;
  word-break : break-all;
}
.cellqualiatable td {
  text-align    : left;
  border-width: 1px 0px; /* 上下だけ引く */
  border-style: solid;   /* 線種：実線 */
  border-color: #c0c0c0;   /* 線色： */
  padding: 0.3em;        /* セル内側の余白 */
  font-size      : 6pt;
  word-break : break-all;
}