<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="utf-8" />
	<!-- スタイル読み込み(CSSフレームワーク) -->
	<link rel="stylesheet" href="/css/spectre.min.css">
	<link rel="stylesheet" href="/css/cpc-ds.css">
</head>
	
	<body class="text-center">
	  	<!-- コンテンツ -->
	  	<form class="form-signin" action="/main" th:object="${USER_MASTER}" method="post">
	  		<div></div>
	  		<img src="/images/login.png">
	  		<table style="margin:auto">
	  			<tr><td>
	  				<input type="text" th:field="*{USERID}" id="USERID" placeholder="User ID" required autofocus>
	  			</td></tr>
	  			<tr><td>
	  				<input type="password" th:field="*{PASSWORD}" id="floatingPassword" placeholder="Password" required>
	  			</td></tr>
	  			<tr><td>
	  				<button class="btn loginbtn" type="submit">Sign In</button>
	  			</td></tr>
	  			<tr><td>
					<div class="label label-error" role="alert" th:if="${error}=='1'">
			            Invalid userid.
			        </div>
			        <div class="label label-error" role="alert" th:if="${error}=='2'">
			            Invalid password.
			        </div>
	  			</td></tr>
	  		</table>
		</form>
	</body>
</html>