<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/head :: head_fragment(title = 'dummy', scripts = ~{::script}, links = ~{::link})"></head>
	<body>
	<input type="hidden" id="PROCESS_MASTER_json" name="PROCESS_MASTER_json" th:value="${PROCESS_MASTER_json}">
	<input type="hidden" id="WORK_GROUP_MASTER_json" name="WORK_GROUP_MASTER_json" th:value="${WORK_GROUP_MASTER_json}">
	<input type="hidden" id="WORK_MASTER_json" name="WORK_MASTER_json" th:value="${WORK_MASTER_json}">
	  	<div id="navigation" th:replace="~{common/navigation :: navigation}"></div>
	  	<div id="body" th:replace="${body}"></div>
		<!-- ダイアログ -->
		<div id="confirmdialog" style="display:none;">
			<p id="confirmdialog_p">confirm</p>
			<span class="ui-helper-hidden-accessible"><input type="image"/></span>
		</div>
		<div id="errordialog" style="display:none;">
			<p id="errordialog_p">error</p>
			<span class="ui-helper-hidden-accessible"><input type="image"/></span>
		</div>
		<div id="alertdialog" style="display:none;">
			<p id="alertdialog_p">alert</p>
			<span class="ui-helper-hidden-accessible"><input type="image"/></span>
		</div>
		<script>
		$(function(){
			$('#confirmdialog_p').text(MESSAGE.I001);
		});
		</script>
	</body>
</html>