<div th:fragment="body">
<script th:inline="javascript">

var disp_flg = sessionStorage.getItem(['DISP_FLG']);

var wgrp_diviation_status = 'W99';		// 作業グループの逸脱ステータス

/***********************************
画面初期処理
***********************************/
$(function(){
	
	// ヘッダスタイル変更
	change_header_style(disp_flg);
	
	// 一覧取得
	search();
	
	// キャンセルボタンクリック
	$("#closebtn").click(function(){
		$('<form/>', {action: "/instructions", method: 'post'})
		  .append($('<input/>', {type: 'hidden', name: 'BATCH_ID', value: $("#BATCH_ID").val()}))
		  .appendTo(document.body)
		  .submit();
	});
	
});

/***********************************
作業手順表示
***********************************/
function search(){
	
	// tbodyをクリア
	$("#tbl1 > tbody").html("");
	
	var args = "?BATCH_ID="+$("#BATCH_ID").val();
	
	// テーブルの明細部分(tbody)を生成
	$.ajax({
	    type: "GET", 
	    url: '/rest/instructions/select'+args,
	}).done(function(data, dataType) {
		
	    var usage_arr = JSON.parse(data);
	    
	    //データをテーブル形式にする 
	    $.each(usage_arr.list,function(i,INSTRUCTIONS_TABLE){
	    	var tbody = $('<tbody />');
	    	
	        var tr1 = $('<tr/>');
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.batch_ID));
	        tr1.append($('<td/>').text(INSTRUCTIONS_TABLE.protocol));
	        
	        // 逸脱チェック
	     	// 作業グループステータス取得
			args = "?PROCESS_ID="+$("#PROCESS_ID").val();
			$.ajax({
			type: "GET", 
			url: '/rest/processmst/select'+args,
			}).done(function(wgrpdata, wgrpdataType) {
				var wgrp_arr = JSON.parse(wgrpdata);
				$.each(wgrp_arr.list,function(j,PROCESS_MASTER){
					tr1.append($('<td/>').text(PROCESS_MASTER.process_NAME));
				});
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
			});

	        tbody.append(tr1);
	        
	        $('#tbl1').append(tbody);
	        
	     	// 作業手順再表示			
			refrech_work();
	     	
	    });

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	  console.log('Error : ' + errorThrown + ", Reason: " + textStatus);
	});
	
}

/***********************************
作業手順グループ再表示
***********************************/
function refrech_work(){
	const work_group_json = JSON.parse($("#WORK_GROUP_JSON").val());
	Object.keys(work_group_json).forEach(function (key) {
		WORK_GROUP = work_group_json[key];
		var setwork = 'setwork'+WORK_GROUP.work_GROUP;
		// 各作業グループのセットボタン押下
		$('#setbtn'+WORK_GROUP.work_GROUP).trigger('click');
	});
}

/***********************************
確認ダイアログ表示
***********************************/
function confirm_qualitycontrol(wgp, wid,
		CHECK_RESULT){
	$('#confirmdialog').dialog({
		dialogClass:'confirm_dialog',
		modal:true, //モーダル表示
		title:"Confirm", //タイトル
		buttons: { //ボタン
		"OK": function() {
			$(this).dialog("close");
			endwork($("#PROCESS_ID").val(),$("#BATCH_ID").val(),wgp, wid,
					CHECK_RESULT,null);
			},
		"Cancel": function() {
			$(this).dialog("close");
			}
		}
	});
}

</script>
<!-- コンテンツ -->
<input type="hidden" id="WORK_GROUP_JSON" th:value="${WORK_GROUP_JSON}">
<input type="hidden" id="BATCH_ID" th:value="${BATCH_ID}">
<input type="hidden" id="PROCESS_ID" th:value="${PROCESS_ID}">

<div class="panel_ebr">

 	<div class="headername_ebr"><h4>EBR Quality control</h4></div>
    <!-- ヘッダ -->
    <div class="tablepanel_ebr">
		<table id="tbl1" class="table_ebr">
			<thead>
				<tr>
					<th class="th_ebr" style="min-width:150px">Batch ID</th>
					<th class="th_ebr" style="min-width:150px">Protocol</th>
					<th class="th_ebr" style="min-width:300px">Process</th>
				</tr>
	        </thead>
		</table>
	</div>
    <div class="workpanel_ebr">
	    <table style="width:100%;">
		    <tr><td id="work_list">
	    		<div th:each="map : ${WORK_GROUP_MAP}">
	    			<div th:insert="/workgroup/work__${map.getValue().DISPLAY_TYPE}__::paramset('__${map.getValue().WORK_GROUP}__')"></div>
				</div>
		    <td></tr>
		    <tr style="text-align: right;"><td>
			    <input type="button" id="closebtn" value="Close" class="btn custombtn">
		    <td></tr>
	    </table>
    </div>​
    
  </div>
</div>